[2020-10-13 11:11] JakeChampion commented on #887
We don't use any features in our polyfills which are not present in ES3 syntax, let alone ES5 or newer, so I would assume that this is a non-issue for polyfill-library to be able to use esbuild

[2020-10-13 11:19] romainmenke commented on #887
true!

This is where I ended up : https://github.com/romainmenke/polyfill-library-buildsources

Don't really remember the exact state of the code. It is almost a line-by-line port of the JS build script and I think it worked when I last touched it. But I definitely haven't done a thorough validation of all outputs.

[2020-10-13 15:14] JakeChampion commented on #886
@longlho and @romainmenke  thank you for taking the time to handle this issue 👍

[2020-10-13 15:45] romainmenke commented on #887
Managed to get a run using the go-based build script :

[code]

I think it might be possible to make it work with `esbuild` but I am not convinced it is worth it.
Switching would also require maintaining a second language (go) with it's own depencies.

Building all polyfills now takes ±20s in github actions. It's not nothing, but also not spectacular.

[2020-10-13 16:30] JakeChampion commented on #888
Romain is correct, the describePolyfill function does not take into account the alias names applied to a polyfill, it only uses the original name, which for `Element.prototype.scroll` is `smoothscroll`

[2020-10-14 10:02] #803 closed

[2020-10-14 12:52] JakeChampion commented on #195
Closing this issue as we do not have the capacity to implement this polyfill.
If anyone wants to contribute this polyfill please feel free to open a pull-request :-)

[2020-10-14 12:52] #195 closed

[2020-10-14 13:00] #111 closed

[2020-10-14 13:00] JakeChampion commented on #111
Closing this issue because it is a feature we are not going to implement

[2020-10-14 15:10] #121 closed

[2020-10-14 15:14] JakeChampion commented on #38
Closing this issue as we do not have the capacity to implement this polyfill.
If anyone wants to contribute this polyfill please feel free to open a pull-request :-)

[2020-10-14 15:14] #38 closed

[2020-10-14 21:46] #887 closed

[2020-10-15 10:03] romainmenke commented on #46
[wip pr](https://github.com/romainmenke/polyfill-library/pull/37)

blocking issues :
- [regexp bug in IE8](https://github.com/jonathantneal/element-qsa-scope/issues/4)
- [source without feature detection](https://github.com/jonathantneal/element-qsa-scope/pull/5)

[2020-10-15 16:43] romainmenke commented on #520
Have been playing around with this and it produces some interesting results.
Found some broken detects and possibly some polyfill issues :

https://github.com/romainmenke/polyfill-library/pull/38

Tried a really simplistic approach where I just added `()` after a detect source. This already caught a couple of cases.
Combined with testing for `false` when the polyfill isn't loaded it covers quite a

[2020-10-16 12:42] #520 closed

[2020-10-17 00:32] mhassan1 opened #899 "Symbol.prototype.description polyfill breaks in Safari 13 and earlier"
# Bug Report

## What

The polyfill for `Symbol.prototype.description` fails with error `TypeError: Cannot convert a symbol to a string` in Safari 13 and earlier. This is caused by the type coercion in the function created here: `getInferredName = Function("s", "return { [s]() {} }[s].name;")`.

## Details

Expected Behavior: `getInferredName(Object(Symbol('hi'))) -> '[hi]'`
Actual Behavior: `getI

[2020-10-24 17:45] kholiavko-roman opened #902 "[Bug] While Smoothscroll detecting user scrolls to the top of the page."
## What

While Smoothscroll detecting user scrolls to the top of the page.

## Details
As you can see ton the demo
![ezgif-6-5b0cc94026f1](https://user-images.githubusercontent.com/16399378/97088368-f20f4a00-1638-11eb-8a43-44933e0853f1.gif)
while page is loading user can scroll but after script was loaded it will scroll page to the top.
https://github.com/Financial-Times/polyfill-library/blob/mast

[2020-10-26 21:08] #886 closed

[2020-10-27 10:39] #199 closed

[2020-10-27 10:42] JakeChampion commented on #229
This looks to be fixed, I tested the polyfill.io script tag on ie 10 and no errors were thrown

<img width="985" alt="image" src="https://user-images.githubusercontent.com/1569131/97290913-1d648580-1841-11eb-9fef-e9444b2a49d3.png">

[2020-10-27 10:42] #229 closed

[2020-10-27 10:45] JakeChampion commented on #232
This is a feature we are not looking to add to this project

[2020-10-27 10:45] #232 closed

[2020-10-27 22:21] #902 closed

[2020-10-29 12:39] TheDadi opened #906 "Publish new version with current changes since last release"
Publish request

It would be nice if you could publish a new version of the lib, since there where bugfixes merged e.g. Intl for safari 14
which would be nice to have.

Thx

[2020-10-29 13:02] JakeChampion commented on #906
This is done :-)
https://github.com/Financial-Times/polyfill-library/releases/tag/v3.97.0

[2020-10-29 13:02] #906 closed

[2020-10-29 13:03] TheDadi commented on #906
thx @JakeChampion

[2020-10-29 13:19] TheDadi opened #907 "Publish 3.97.0 failed"
The publish of the package failed.

@JakeChampion Could you please check :)

thx

[2020-10-29 14:59] JakeChampion commented on #907
This should be published now 👍

[2020-10-29 15:19] JakeChampion commented on #907
https://www.npmjs.com/package/polyfill-library/v/3.97.0

[2020-10-29 15:19] #907 closed

[2020-10-29 18:15] romainmenke commented on #676
fix confirmed! :)

[2020-10-30 12:13] #899 closed

[2020-10-31 19:09] romainmenke commented on #671
We wanted to generate client side feature detection and ended up using `caniuse` data.

We took the known browsers from `caniuse` and looped them (kinda brute forced it).
We used `semver` to see if the feature (config file -> browsers) satisfies the browser from `caniuse`.

Maybe this feature does not need to be included in this package?
Might be better for maintenance as `caniuse` publishes a lot

[2020-11-23 11:40] #534 closed

[2020-11-27 12:46] JakeChampion commented on #207
This was added in [`#672`](https://github.com/Financial-Times/polyfill-library/pull/672) and released in [`v3.96.0`](https://github.com/Financial-Times/polyfill-library/releases/tag/v3.96.0)

[2020-11-27 12:46] #207 closed

[2020-11-27 12:46] #286 closed

[2020-12-03 15:46] CheloXL commented on #823
I was using "all" to try to get all the polyfills needed by the latest standards (so I don't have to play a Whac-A-Mole, adding features as they are added to the standards).

As I mentioned above, I've found that the service not only serves missing features, but also a lot of _XXX files that are really not needed at all. For example, in Chrome 87, only setImmediate, console.exception and Element.p

[2020-12-09 20:35] chee commented on #651
going to close this as it's an issue about a project with its own issue tracker

[2020-12-09 20:35] #651 closed

[2020-12-13 15:49] romainmenke opened #940 "Clarify browsers list for config.toml"
When adding or updating the list of browsers in `config.toml` it's not always clear to me which browser is which.

Can we add a table in the contributing guidelines with a mapping between the expected values for `config.toml` vs. naming from MDN and Caniuse?

|  | `config.toml` | caniuse | MDN |
| --- | --- | --- | --- |
| android | android | android | android |
| bb | bb | bb | bb |
| Chrome | ch

[2020-12-14 17:21] JakeChampion commented on #940
@romainmenke We're happy to have this in the contributors guide. I can't see any differences in the columns, were there meant to be differences?

[2020-12-14 17:26] romainmenke commented on #940
Hehe, yeah that was just an example of what the table could look like.
I should have clarified that :)

[2020-12-16 15:03] JakeChampion commented on #671
We wouldn't implement this as part of polyfill-library, it would have to be a separate package.

We do have a package which does something similar called [create-polyfill-service-url](https://www.npmjs.com/package/create-polyfill-service-url). It is a Node.js command-line application for analysing your JavaScript file and generating a https://polyfill.io URL based on all the features that are bein

[2020-12-16 15:03] #671 closed

[2020-12-16 15:39] JakeChampion commented on #670
Hi, I'm sorry to say that proxy is not included in polyfill-library and it likely will not be included as it is impossible to implement a polyfill for proxy that works correctly.

[2020-12-16 15:39] #670 closed

[2020-12-16 15:42] JakeChampion commented on #512
We won't be implementing a polyfill for the lazy loading attribute as it is not possible to implement a polyfill for this which doesn't also require modifying the HTML to cater for the polyfill implementation

[2020-12-16 15:42] #512 closed

[2020-12-16 15:44] JakeChampion commented on #378
We can't implement a polyfill for dialog as it also requires adding CSS to the page to polyfill the dialog's design which is something polyfill-library and polyfill.io do not support.

[2020-12-16 15:53] JakeChampion commented on #115
Is this still an issue people are seeing?

[2020-12-16 15:55] #112 closed

[2020-12-16 15:57] JakeChampion commented on #230
I can't replicate this error in any of those browsers anymore, I assume we must have fixed this at some point and not closed this issue

[2020-12-16 15:57] #230 closed

[2020-12-16 15:58] #15 closed

[2020-12-16 16:07] leem32 commented on #115
Yep, still an issue for me.

![Image of ie11 error](https://i.ibb.co/9snnKZ2/pollyfill-error.png)

[2020-12-16 16:18] romainmenke commented on #115
Does the error happen simply by loading the polyfills on a blank page or is there surrounding code?
If there is extra code, can you share the url where this happens?

[2020-12-16 17:41] leem32 commented on #115
No, it does not happen on a blank page.
The page with issues is only in the local environment at the moment.

I will try adding more polyfills to the bundle and let you know if I work anything out.

[2020-12-17 07:06] romainmenke commented on #115
@leem32 Thank you
Any example you could share with the error would be great.

Is this something that could be made public in some form?

[2020-12-17 11:17] JakeChampion commented on #537
We won't be adding a polyfill for `Navigator.permissions`, from what I understand about the Permissions API it is no possible to implement a polyfill for it which is useful.

[2020-12-17 11:17] #537 closed

[2020-12-17 11:20] JakeChampion commented on #538
It looks like this was done in https://github.com/Financial-Times/polyfill-library/pull/819 but we forgot to close this issue

[2020-12-17 11:20] #538 closed

[2020-12-18 12:51] #667 closed

[2020-12-28 16:46] romainmenke commented on #940
@JakeChampion I updated the table with what I think is a correct mapping.

`?` are thing I could not find or didn't know which one to pick.

On caniuse I saw two possible options for `Opera Mini`.

[2020-12-31 11:28] romainmenke opened #957 "StreamCache is not a true ReadStream"
`StreamCache` does not seem to implement `ReadStream` correctly.
When used together with `merge2` it all seems to work, but when trying to use it as a `ReadStream` directly, no `data|end|...` events are ever triggered.

https://github.com/Financial-Times/polyfill-library/blob/b0c8a8582dc164af25e834fc034e2db27c935516/lib/sources.js#L83

https://github.com/felixge/node-stream-cache/blob/master/lib/S

[2020-12-31 13:58] aronwoost opened #958 "Intl.~locale.en-CA throwing on IE11 (other en-* work as expected)"
Bug report

## What
`Intl.~locale.en-CA` is throwing on IE11. Other `en-*` work as expected.

## Details

How to reproduce:

[code]

Again, when changing to `Intl.~locale.en-US` or `Intl.~locale.en-GB` it works as expected and no error is thrown.

## Additional information

This is how the error looks (I couldn't make any sense of it):
![image](https://user-images.githubusercontent.com/408962/1034

[2020-12-31 15:46] romainmenke commented on #958
Error message : `RangeError: Invalid range pattern token`

`skeletonTokenToTable2` is called with `d-alt-variant` as argument.

@longlho

[2020-12-31 16:51] longlho commented on #958
can u make a GH issue in the formatjs repo?

[2020-12-31 17:28] romainmenke commented on #958
@aronwoost can you open an issue [here](https://github.com/formatjs/formatjs/issues?q=is%3Aopen+is%3Aissue) referencing this issue. Thank you!

[2021-01-01 04:15] longlho commented on #958
should be fixed in latest version

[2021-01-01 17:32] #958 closed

[2021-01-04 08:43] aronwoost commented on #958
Wow, thats super awesome! Thanks for the fix.

What can I do to update `polyfill-service`?

[2021-01-06 13:49] JakeChampion commented on #958
I made a pull-request to update polyfill-service with the latest version of polyfill-library -- https://github.com/Financial-Times/polyfill-service/pull/2488

When that is merged it will be deployed to production

[2021-01-06 14:07] aronwoost commented on #958
Thank you! ❤️

[2021-01-12 20:17] aronwoost opened #973 "Intl.PluralRules.~locale.fr not working correctly"
Bug

## What

`Intl.PluralRules.~locale.fr` polyfill is not working correctly (tested on IE11 and Safari 12).

## Details

How to reproduce:

[code]

`console.log(new Intl.PluralRules('fr').select(2));` is throwing with:

![image](https://user-images.githubusercontent.com/408962/104367396-087fc000-551b-11eb-8613-54d0b22f0be4.png)

It should log `"others"`.

From reading the code I think that `e` i

[2021-01-13 15:56] JakeChampion commented on #973
Thanks for reporting this @aronwoost.

@longlho, this looks like an issue within the bundled version of the PluralRules polyfill, would you be able to look into this?

[2021-01-13 15:58] longlho commented on #973
dupe of https://github.com/formatjs/formatjs/issues/2482

we fixed it in 4.0.5 so just need an upgrade

[2021-01-13 16:58] longlho commented on #973
@JakeChampion looks like this already has the fix. Maybe u need to cut a release?

[2021-01-13 16:59] longlho commented on #973
yeah see comment in https://github.com/Financial-Times/polyfill-library/pull/967

[2021-01-13 23:32] JakeChampion commented on #973
Thanks for noticing the missed release. I've now released this update in [v3.102.0](https://github.com/Financial-Times/polyfill-library/releases/tag/v3.102.0)

[2021-01-13 23:32] #973 closed

[2021-01-14 10:09] aronwoost commented on #973
You're welcome and thanks for releasing! 💪🏼

Pls let me know when `polyfill-service` is updated.

[2021-01-17 23:59] JakeChampion commented on #957
Yes, we can do that, if you are able to implement this change I'd be happy to review and release it.

[2021-01-22 19:41] justinbmeyer opened #1177 "web locks polyfill"
Hello!

I created this [web-locks polyfill](https://github.com/bitovi/web-locks-polyfill). Is this something that would make sense to be included?  Thanks!

[2021-02-04 09:36] SimplySayHi opened #1179 "Bug: Element.prototype.remove not working for selects in IE11"
[Bug Report]

## What
Element.prototype.remove not working for "select" elements in IE11

## Details
I noticed that the JS console will show the error "Invalid argument" if you run the code below:

`document.querySelector('select').remove()`

Polyfill Service: v3.102.0
Browser: IE11
OS: Windows 7

[2021-02-19 02:33] s-cork opened #995 "String.protoype.matchAll missing"
## What
missing `String.prototype.matchAll`

## Details
See this issue #159 which reported some missing es2019 features. `String.prototype.matchAll` must have got lost.

[2021-02-19 04:29] craigkovatch commented on #636
@JakeChampion any update on this one? Was hoping it would be a quick fix after the fix in #219

[2021-02-20 22:42] romainmenke commented on #779
Manually tested this on iOS 9 with Browserstack.

- no polyfill included
- only the test was run

The test seems to pass.

@TLib Does this error still happen because I can't reproduce the issue :/

<img width="925" alt="Screenshot 2021-02-20 at 23 40 17" src="https://user-images.githubusercontent.com/11521496/108610315-0ab82280-73d5-11eb-886b-0723dbd52a0f.png">

[2021-02-21 13:00] #257 closed

[2021-02-23 17:58] JakeChampion commented on #995
`String.prototype.matchAll` was added in ECMAScript 2020. ECMAScript 2020 was ratified in June 2020.

Yes, we need to add a polyfill for this.

[2021-02-25 07:48] TLib commented on #779
Thanks for your feedback. I can confirm, that the errors in our Sentry are gone.

[2021-02-25 07:48] #779 closed

[2021-02-27 19:56] romainmenke opened #1002 "regression in #997 : IE8 still needs split test runs to prevent OOM issues."
@JakeChampion

I made a mistake in #997
This is why IE8 is failing more frequently now.
Maybe you can include the fix in one of the open PR's?

Otherwise I will open a new PR with the fix later.

fix :

https://github.com/Financial-Times/polyfill-library/blob/df5bab7c91d134ebdfae9edcf4c1626a1f2c3923/test/polyfills/remotetest.js#L167

[code]

[2021-02-28 08:07] romainmenke commented on #1002
Thank you!

[2021-02-28 08:07] #1002 closed

[2021-02-28 10:03] romainmenke opened #1004 "Browstack android has the same chrome version for all Android versions"
Was testing CI after #997 and noticed that all tests were run for Android where I only expected a single feature test.

This can happen for two reasons :
- No changes were detected in git (this was not the case)
- `test/polyfills/server.js` receives a `feature` value that is not present `testablePolyfills(ua)`.

I started collecting User Agents from Browserstack a while back and checked these.
htt

[2021-03-01 10:55] #1004 closed

[2021-03-10 10:19] nickrttn opened #1012 "Intl.DateTimeFormat not polyfilled correctly and always flag crashes Firefox"
# Bug report

The `Intl.DateTimeFormat` polyfill doesn't correctly detect support for `formatRange` in Firefox (86). That browser doesn't support `formatRange` and `formatRangeToParts` but also doesn't receive the polyfill by default.

If the `always` flag is passed to force the polyfill Firefox will report an error `Uncaught TypeError: Setter must be a function` coming from the polyfill script.

[2021-03-10 12:11] romainmenke commented on #1012
@JakeChampion MDN is correct. Firefox doesn't have support for `formatRange`

[code]

[2021-03-10 12:17] JakeChampion commented on #1012
Thank you for confirming @romainmenke 🙌

I've raised a pull-request to serve this polyfill to all Firefox versions -- https://github.com/Financial-Times/polyfill-library/pull/1013

[2021-03-10 12:40] romainmenke commented on #1012
I think the same issue also exists for other browsers.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatRange#browser_compatibility

ran some tests and seeing the same results for Blink,Webkit,Gecko as stated by MDN

[2021-03-10 13:08] romainmenke commented on #1012
They support it, but from `76`
So this should work : https://github.com/Financial-Times/polyfill-library/pull/1013/commits/4ca7ff2a1474daea8bbf59c0f0d40a6c37fafdf4#diff-77edc5e4fe23dd90eb39468935b117d0add719ecfc03b83473a1980568198b9eR39

[2021-03-10 13:43] #1012 closed

[2021-03-10 14:49] longlho commented on #1012
@JakeChampion do you still need me to look at anything?

[2021-03-10 15:06] JakeChampion commented on #1012
I don't think so, @romainmenke helped solve this 😄

[2021-03-12 11:01] nickrttn commented on #1012
Thanks for the quick action on this issue folks!

The polyfill is now correctly being served. The `Intl.DateTimeFormat` polyfill does still break with the `|always` flag. It also happens in Chrome and likely other browsers as well. Should I create a new issue for that?

[2021-03-12 11:31] JakeChampion commented on #1012
We haven't released this change onto npm or onto polyfill.io yet

[2021-03-12 11:34] nickrttn commented on #1012
🤦 my bad :) I'll keep an eye on your releases

[2021-03-16 13:21] JiahuanWu opened #1017 "Polyfill for Object.fromEntries doesn't work for arrays"
[Bug Report]

## What

Polyfill for `Object.fromEntries` only works for maps, but not arrays in IE11.

## Details

Example:
[code]
Browser: IE11
OS: Windows 10 on virtualBox VM

[2021-03-16 15:38] JakeChampion commented on #1017
This is not a bug in the polyfill as Object.fromEntries does not work for Arrays in native implementations either.

Here is the test from the specification conformance test suite which shows Object.fromEntries does not support Arrays -- https://github.com/tc39/test262/blob/42bf3a9f7aed3790dc1d829f290dee033df41c5b/test/built-ins/Object/fromEntries/string-entry-primitive-throws.js#L11-L13

[2021-03-16 15:56] zloirock commented on #1017
@JakeChampion it's another case.

[2021-03-16 16:01] JakeChampion commented on #1017
@zloirock Is it this case? https://github.com/Financial-Times/polyfill-library/blob/e4c9bedf49ca9712d8450dc5297e1e4901b8c007/polyfills/Object/fromEntries/tests.js#L68-L83

[2021-03-16 16:09] zloirock commented on #1017
@JakeChampion yep.

[2021-03-16 16:21] JakeChampion commented on #1017
We support this case as well, which the test shows. @JiahuanWu, does your polyfill.io include `Object.fromEntries` in the `features` query parameter?

[2021-03-17 12:24] JiahuanWu commented on #1017
@JakeChampion Yes, I included `Object.fromEntries` in the `features` query parameter along with the others, but only this one didn't work.
I changed to use babel for js features. So if it can't be reproduced in environment other than my virtualBox, then I'll close the issue.

[2021-03-18 16:30] ivanljv opened #1020 "Feature: Promise.allSettled"
(not really sure if this should be bug or a feature)

## What

Promise.allSettled is missing
## Details

Edge 44 misses this, and Promise and Promise.finally both don't include it

There is a pollyfill on https://www.logic24by7.com/promise-allsettled-polyfill/

[2021-03-18 16:32] JakeChampion commented on #1020
I'm going to close this issue as this is a duplicate of https://github.com/Financial-Times/polyfill-library/issues/862

[2021-03-18 16:32] #1020 closed

[2021-03-19 11:21] JakeChampion commented on #1017
@JiahuanWu Would you be able to create a small reproducible example for this?

We have tests for Object.fromEntries which run on IE11 and all pass, which makes me think your scenario has some other changes which we are not yet aware of that affect the polyfill

[2021-03-27 02:35] JiahuanWu commented on #1017
@JakeChampion Sorry for late response. My data is just as simple as the test. And I tried on Parallels, it works fine. So I suppose it's a problem of VirtualBox.
Thanks for your time. I'll close the issue.

[2021-03-27 02:35] #1017 closed

[2021-03-27 08:25] tremby opened #1027 "Add a polyfill for String.prototype.matchAll"
## What
I would like to see a polyfill for String.prototype.matchAll added. There's one at https://github.com/es-shims/String.prototype.matchAll which also gives lots of details about the feature.

## Details

I'm using this feature on a project I'm working on at the moment. I'm just in the middle of making the app compatible with IE11 and found that there's no polyfill for it in polyfill.io.

Sel

[2021-03-27 13:21] JakeChampion commented on #1027
Hi thanks for the issue, we already have an issue open for this polyfill at #995,I will close this one as a duplicate

[2021-03-27 13:21] #1027 closed

[2021-03-27 19:14] tremby commented on #1027
Apologies. I thought I searched first but I guess not.

[2021-03-31 14:33] GCRazz opened #1032 "URL Polyfill leads to inconsistent behavior"
Request to change the URL polyfill used

## What

When an invalid url is passed to URL(), an error should be thrown that the url passed was invalid.
-> https://developer.mozilla.org/en-US/docs/Web/API/URL/URL

However when importing the URL polyfill from polyfill.io, no urls seem to be considered invalid, which leads to inconsistent behavior.

## Details
Example: IE 11 with polyfill.io
<img width=

[2021-03-31 16:30] JakeChampion commented on #1032
Hi @GCRazz, thanks for reporting this inconsistent behavior.

We already have an [issue to track this bug](https://github.com/Financial-Times/polyfill-library/issues/462), so I will close this issue as a duplicate. If you want to know when the bug is fixed you can subscribe to the other issue for when it gets closed.

Thanks again for reporting this

[2021-03-31 16:30] #1032 closed

[2021-04-25 23:13] eltonio450 opened #1042 "Intl.DateTimeFormat is missing timezone data"
Hello everyone,

### Bug/feature

I am not sure if it's a bug or an intended behavior

## What

Intl polyfill is missing timezone data.

The full polyfill could include timezone data or there could be an extra polyfill to add this data

## Details

The polyfill in question is here :
https://formatjs.io/docs/polyfills/intl-datetimeformat/

for the moment, if we want to have timezone support, for ex

[2021-04-30 23:55] JakeChampion commented on #1042
@longlho, it sounds like the datetimeformat polyfills might be missing the timezone data, is there a way to add the data for individual timezones like we do for locales?

[2021-05-01 00:21] longlho commented on #1042
Technically yes but tz data have strong linking relationship and aliases so it's pretty messy. We distributed 2 tz bundles: everything & golden. Golden is basically the most popular timezones. I think maybe we can surface that as a separate feature? For reference IE11 has DateTimeFormat but no timezone.

[2021-05-01 15:23] JakeChampion commented on #1042
A separate feature makes sense :+1:

[2021-05-02 02:20] longlho commented on #1042
I unfortunately won't have time in the few weeks so if anyone wants to tackle it that'd be great.

[2021-05-03 14:05] tgandee79 commented on #1042
I'll see if I can tackle it.

Separate featuring meaning a new addition to the Polyfill for consumption:
[code]

??

[2021-05-07 08:35] DomenicoCasillo opened #1048 "URLSearchParams: keys is not a function"
Bug Report

## What
URLSearchParams polyfill (v3) seems to be _incomplete_  in Firefox 37 Desktop.

## Details
[code]
The urlParams object is correctly created but on the second line, an error is triggered with
`TypeError: urlParams.keys is not a function`

Browser: Firefox 37 Desktop (Mozilla/5.0 (Windows NT 6.1; rv:37.0) Gecko/20100101 Firefox/37.0)
Device: Desktop
Polyfill URL: https://polyfill

[2021-05-07 09:31] JakeChampion commented on #1048
@DomenicoCasillo, thanks for the issue, could you please post the full polyfill.io url you are using and the full user-agent of the browser which is seeing the issue please? With that information we should hopefully be able to find the cause of the problem

[2021-05-07 10:00] DomenicoCasillo commented on #1048
I've updated the initial post with additional details. I can add that even `entries` and `values` are not available.

![image](https://user-images.githubusercontent.com/9551125/117433366-b3354780-af2b-11eb-90df-aa2b44b84553.png)

[2021-05-07 10:30] JakeChampion commented on #1048
Thanks @DomenicoCasillo - I have confirmed the issue now 👍

This is happening because the polyfill has not been applied, you can see that if you run `URLSearchParams.toString()`, it will return this:
[code]

That is happening because Firefox 37 passes all the checks in this section of code:
https://github.com/Financial-Times/polyfill-library/blob/2cfa74e454bf6736234bad9bdeca5d96d451ebc2/polyfills/

[2021-05-07 17:30] romainmenke commented on #1048
Bit of a rabbit hole :)

One of the reasons it is not working as expected is because there are a few missing dependencies and `Array.from` also seems to be needed in more browser versions than currently stated.

I'll take a look and patch the needed pieces.
Also adding tests from WPT to have extra coverage.

[2021-05-07 21:48] #1048 closed

[2021-05-12 18:03] romainmenke opened #1053 "Polyfill combination issue with URL polyfill"
see log https://github.com/Financial-Times/polyfill-library/runs/2540929556?check_suite_focus=true

[code]

I'll look into it in the next few days.

[2021-05-13 12:59] #1053 closed

[2021-05-17 11:13] romainmenke opened #1055 "Add support for URL.prototype.username and URL.prototype.password"
https://developer.mozilla.org/en-US/docs/Web/API/URL/password

The polyfill internally uses `HTMLAnchorElement` but `username` and `password` are not supported in older browsers.
These values are always `undefined`.

[code]

<img width="498" alt="Screenshot 2021-05-17 at 13 13 28" src="https://user-images.githubusercontent.com/11521496/118479726-ad044f80-b711-11eb-9c5a-54a575b2715e.png">

[2021-05-20 10:38] tobyaherbert opened #1178 "Bug: URLSearchParams as a Fetch API body uses the wrong Content-Type"
[Bug]

## What
The `Fetch API` determines the wrong `Content-Type` header when its body is set to a polyfilled `URLSearchParams` instance.

## Details
This occurs when the following statements are true:

1. The `URLSearchParams` object has been polyfilled.
2. A *POST* request is made using the *Fetch API*.
3. The *POST* request's body is set to an instance of the polyfilled `URLSearchParams` objec

[2021-05-24 14:54] msvab opened #1057 "Date.toLocaleString slowdown since 3.52.2"
Bug Report

## What

We've noticed that Date.toLocaleString() has great performance degradation on IE11 since version 3.52.2. 3.52.1 is the most recent version which works fine.

## Details

Attached is a very basic HTML page which shows the problem. Using version 3.53.1 the benchmark takes 157ms, but on 3.53.2 it takes 6400ms. We use this function to render dates on a datepicker and users with le

[2021-05-24 16:02] romainmenke commented on #1057
@msvab Could you maybe create a repo with the contents of that zip?
Not really best practice to download and open unknown zips :D

[2021-05-24 16:43] romainmenke commented on #1057
confirmed :

https://github.com/romainmenke/intl-performance-issue-1

_This code was run a 100 times in the reproduction_

[code]

<img width="729" alt="Screenshot 2021-05-24 at 18 41 29" src="https://user-images.githubusercontent.com/11521496/119379406-bbc5a600-bcbf-11eb-8415-a7af5f494eab.png">

[2021-05-26 02:12] longlho commented on #1057
hmm what about latest version? Those are super old versions that don't use `@formatjs/intl-datetimeformat` so I don't have much control over it

[2021-05-26 08:06] msvab commented on #1057
@longlho The latest version 3.104.0 is actually the one where we discovered the slowdown. Then we went back to identify which was the last version with acceptable speed.

[2021-05-26 08:25] romainmenke commented on #1057
https://github.com/Financial-Times/polyfill-library/compare/v3.53.2..v3.53.1

Maybe it's not a change in an Intl polyfill, but in a dependency?

[2021-05-29 17:37] romainmenke opened #1060 "tabs in source files for a11y and consistency?"
reading on a11y in source code : https://dev.to/alexandersandberg/why-we-should-default-to-tabs-instead-of-spaces-for-an-accessible-first-environment-101f

At this point the code base is fairly inconsistent and imho it would benefit from a single convention for whitespace.
When making changes I try to work per file and use tabs or spaces depending on the surrounding code.
But it is a bit distracti

[2021-06-08 15:21] JakeChampion commented on #1060
Thanks for this issue @romainmenke, I've opened a pull-request to resolve this -- https://github.com/Financial-Times/polyfill-library/pull/1063

[2021-06-08 16:05] romainmenke commented on #1060
Awesome! Thank you @JakeChampion 🎉

[2021-06-09 10:10] #1060 closed

[2021-06-10 09:39] #1042 closed

[2021-06-17 23:08] dujushi opened #1065 "https://polyfill.io/v3/json/library-3.53.1.json is not found"
On the [URL builder](https://polyfill.io/v3/url-builder/) page, when select a version, it will send out a request `https://polyfill.io/v3/json/library-version.json` . When you select 3.53.1 or 3.52.3, the request returns 404.

[2021-07-11 10:01] Awen-hub opened #1067 "Which features should be put in "default" features?"
## What

Which features should be put in "default" features?

## Details

I find that "Object.keys" is one of "default" features but "Object.values" isn't. In my opinion they are both used quite frequently.
So Which features should be put in "default" features? And `
polyfillLibrary.getPolyfills({
    features: {
      'all': {
      }
    }
  })`
is not a suggestion and we are supposed to use "de

[2021-07-12 09:54] JakeChampion commented on #1067
Hi @Awen-hub,

Many times when we changed the polyfills included in `default` we would get many issues/questions/complaints about the change. We decided that we would have `default` be a legacy alias and not something we plan to change or update, instead users should explicitly request what they would like to have included or use an alias which has a known fixed-set of polyfills such as `es5`, `es

[2021-07-12 10:20] Awen-hub commented on #1067
@JakeChampion  Thanks for your answer. And will a feature be put into `default` when you think it is stable and dose not need to update any more, such as `Object.values`?

[2021-07-12 12:14] JakeChampion commented on #1067
We won't be updating the `default` list with any more features, we would like to move users away from using it if possible. Instead we recommend to list out all the features explicitly or to use a set such as `es5`, `es6` etc - these are well-understood sets of features that will likely never change.

[2021-07-12 12:51] Awen-hub commented on #1067
Thanks, I got it

[2021-07-12 12:57] #1067 closed

[2021-07-12 13:43] #957 closed

[2021-07-17 16:31] lorenz commented on #870
In general using fetch with a URLSearchParams body produces an empty request on IE10 and 11. Both APIs are polyfilled there, so there seems to be an issue with them not interacting properly.

[2021-07-17 17:46] romainmenke commented on #870
@lorenz Can you provide some code to reproduce and the polyfill.io url?

It doesn't have to be a real fetch request to a real endpoint.

[2021-07-17 18:15] romainmenke commented on #870
https://github.com/github/fetch/blob/master/fetch.js#L8

Seems to be a loading order issue.
If I make `URL` a dependency on `fetch` it seems to work.

I don't think we wan't to do that, but maybe we can order the polyfills better?

<img width="413" alt="Screenshot 2021-07-17 at 20 12 11" src="https://user-images.githubusercontent.com/11521496/126046136-87e333b2-b4a0-441b-8098-7ab8b92abc6c.png">

t

[2021-07-17 18:36] lorenz commented on #870
My code is quite trivial, your test is already pretty much the same. Nice that you could already determine what's causing the problem, an ordering issue would indeed make sense.

[2021-07-17 18:38] romainmenke commented on #870
@JakeChampion After some thought I think that adding `URL` to the dependency list of `fetch` would fix this issue for both uses of this package and users of polyfill.io.

Otherwise we would have to add new API in the config.toml files to express that some polyfills need to be ordered in a specific way.

If you agree with adding `URL` to the dependency list of `fetch` I'll submit a patch to resolve

[2021-07-20 09:20] JakeChampion commented on #870
Sorry I didn't reply sooner -- I agree and I can see you've already got the pull-request in place 👍

[2021-07-20 09:35] romainmenke commented on #870
That's ok :) We all have lot's to do!

[2021-07-20 09:45] #870 closed

[2021-07-20 11:21] RaParker opened #1072 "A call to the setDescriptor function fails in IE11."
Bug

## What

A call to the setDescriptor function fails in IE11.

## Details

In IE11 (user-agent: 'Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; Touch; rv:11.0) like Gecko'), under certain circumstances (reasons not known), the 'protoDescriptor' variable in the setDescriptor function (line 4842) is undefined. This means the call to objectDefineProperty fails.

The solution is to change code

[2021-07-20 15:33] romainmenke opened #1073 "publishing releases fails"
https://github.com/Financial-Times/polyfill-library/runs/3114628872

_maybe you are aware and had been planning to release this manually later_

[2021-07-20 16:01] JakeChampion commented on #1073
Hi @romainmenke, yes I've been trying to release manually but came across an issue with `npm run build` not finding the correct localisation dependency for the Intl.PluralRules polyfills

I've opened a ticket on the upstream project, hopefully it can be resolved and we can release a new version of polyfill-library -- https://github.com/formatjs/formatjs/issues/3058

[2021-07-20 16:23] romainmenke commented on #1073
Is it possible you were using node 15 or 16?
When I forget to switch to node ±12 I also see errors.

[2021-07-20 16:25] JakeChampion commented on #1073
I'll try node 12 👍

[2021-07-20 16:28] JakeChampion commented on #1073
@romainmenke That was the issue 🤦 I'll pin the node version using volta in this project to avoid this in the future

[2021-07-20 16:48] JakeChampion commented on #1073
version 3.106.0 and 3.107.0 are now published 🎉

[2021-07-20 16:48] #1073 closed

[2021-07-20 16:49] romainmenke commented on #1073
Oh Volta looks cool! We have been using nvm but it's slow :)

[2021-07-20 16:56] JakeChampion commented on #1073
Volta is so fast that the only time I notice it switching is when it needs to download a different node version from the internet - I highly recommend volta 👍

[2021-07-21 12:18] romainmenke opened #1075 "timeZone data appears to be needed any time the Intl.DateTimeFormat polyfill is loaded"
https://github.com/Financial-Times/polyfill-library/blob/7ba1ec95e4f3037165237d88ae1ae02f7df4d88b/polyfills/Intl/DateTimeFormat/%7EtimeZone/golden/config.toml#L21-L31

As discussed and tested [here](https://github.com/Financial-Times/polyfill-library/pull/1061#issuecomment-857835247) I assumed that the timeZone data would not need to be loaded everywhere and the `Intl.DateTimeFormat` polyfill coul

[2021-07-21 12:50] longlho commented on #1075
Yes browsers don't expose raw iana tz data.

[2021-07-21 12:56] romainmenke commented on #1075
Thank you for the quick reply :)

[2021-07-21 14:18] #1075 closed

[2021-08-04 10:38] JakeChampion commented on #1072
Thanks for the issue @RaParker, do you know of a way to reproduce the error at all? Once we can reproduce the error we should then be able to write a test to ensure we don't regress on this functionality in the future

[2021-08-04 11:51] romainmenke opened #1079 "weekly checkup with polyfill combinations fails on iOS"
see : https://github.com/Financial-Times/polyfill-library/actions/workflows/test-polyfills-weekly.yml

traced this to an exception in `polyfills/Symbol/asyncIterator/polyfill.js` on iOS 11.1 and up.
The polyfill isn't needed there but loaded anyway. The exception causes test failures as the polyfills aren't fully applied.

Should be resolved by updating the needed dependencies to get this change h

[2021-08-04 14:01] JakeChampion commented on #1079
Thanks for the issue @romainmenke - I've opened a pull-request to update the version of polyfill-useragent-normaliser being used -- https://github.com/Financial-Times/polyfill-library/pull/1080

[2021-08-05 13:08] RaParker commented on #1072
Forwarded Conversation
Subject: Re: [Financial-Times/polyfill-library] A call to the setDescriptor
function fails in IE11. (#1072)
------------------------

From: Jake Champion ***@***.***>
Date: Wed, 4 Aug 2021 at 11:38
To: Financial-Times/polyfill-library ***@***.***>
Cc: Richard Parker ***@***.***>, Mention <
***@***.***>

Thanks for the issue @RaParker <https://github.com/RaParker>, do you kno

[2021-08-05 14:23] #1079 closed

[2021-08-05 17:28] romainmenke commented on #1079
Thank you @JakeChampion

weekly tests now pass on iOS and we see the expected drop off in number of tests. 🎉

[code]

[2021-08-05 17:33] romainmenke commented on #1072
@RaParker

Can you check if there are maybe duplicate polyfills?
Maybe you are using both `core-js` and `polyfill.io` and there might be conflicts?

This is just a hunch as `Symbol` is one of the features where polyfill conflicts can get messy.

[2021-08-06 11:57] RaParker commented on #1072
Ok, I'll check it out.

On Thu, 5 Aug 2021, 18:33 Romain Menke, ***@***.***> wrote:

[2021-08-06 17:18] muster-mark opened #1081 "ArrayBuffer is polyfilled in browsers that support it"
With the following URL in the latest version of both Firefox and Chrome, I see that polyfill.io thinks that the browsers require a polyfill for ArrayBuffer.

https://polyfill.io/v3/polyfill.min.js?features=ArrayBuffer

But according to caniuse.com, both browser have supported it fully for years (https://caniuse.com/mdn-javascript_builtins_arraybuffer).

Am I missing something?

[2021-08-09 14:23] JakeChampion opened #1082 "Serve IntersectionObserver to iOS 14"
## What
There are [reports on Twitter](https://twitter.com/sangster/status/1424736454882648069) that iOS 14 sometimes does not have IntersectionObserver - we should perhaps serve the IntersectionObserver to all iOS 14 users to ensure the feature is always available. We could wrap the polyfill in a feature detect to ensure we don't polyfill over the feature if it is already available.

## Details
R

[2021-08-09 15:08] romainmenke commented on #1082
tricky issue

Would be interesting to know if this is purely caused by the experimental feature flags in browser settings being turned off.

[2021-08-09 15:44] JakeChampion commented on #1082
Tricky indeed. I don't know if we could answer that question unfortunately. Perhaps @salemhilal could help us try and find that answer? 🤞

[2021-08-09 20:11] salemhilal commented on #1082
I'm actually going to defer to @mq2thez for that one; he's the one who did the initial research that concluded that it's possible for IntersectionObserver to be disabled in the first place, so he'd likely have more context as to when it might be missing.

[2021-08-09 20:22] mq2thez commented on #1082
While it's not impossible that that is the case, I think it's pretty unlikely.

We were seeing error rates for `IntersectionObserver` being undefined that were high enough that it felt like it _had_ to be something in the OS doing it -- several hundred errors within the first day of the new experiment being enabled, from a broad range of users on iOS >= 12. We also got external error reports about

[2021-08-09 21:20] romainmenke commented on #1081
caused by : https://github.com/Financial-Times/polyfill-useragent-normaliser/blob/master/lib/normalise-user-agent.vcl#L1805

[2021-08-10 08:34] romainmenke commented on #1082
Do you have any stats on the percentage of affected visitors?

---------

I think that is indeed the best way forward.
If at some point we understand the issue better and decide that it shouldn't be fixed after all, we can revert it.

We use polyfill-library differently (bundled with website code) and ship the IntersectionObserver polyfill wrapped in feature detection to iOS 12 - 13.x. We haven't

[2021-08-10 09:05] JakeChampion commented on #1082
@rowanbeentje do you happen to know some more about the IntersectionObserver issues on iOS? Have you seen this happen on the FT app or website?

[2021-08-10 09:07] JakeChampion commented on #1081
@romainmenke I can't quite follow how that line in the vcl is causing this issue, could you explain why that line is the cause?

[2021-08-10 09:17] rowanbeentje commented on #1082
😱 I was not aware of this! I know settings for various features like this can be toggled off in Settings > Safari > Advanced > Experimental Features but I can't imagine there are any users who do that...

On the FT app we ship a polyfill which feature-detects, so we wouldn't notice this; we'd also find it hard to notice other than looking at Sentry, where I can't see any obvious errors 😬

[2021-08-10 09:22] romainmenke commented on #1082
@mq2thez Can you share the code for the experiment you ran?

Collecting more data on different sites could be useful.

[2021-08-10 09:46] romainmenke commented on #1081
@JakeChampion sorry, confused this issue with the inverse case. Having a UA string with a very old browsers would result in all polyfills being included. Having old browsers in config works fine.

Just checked in the library and requesting `ArrayBuffer` with modern Chrome or Safari and the polyfill is not included.
So not sure what is going on. Sorry for the confusion :)

[code]

[code]

[2021-08-10 13:57] JakeChampion commented on #1081
Thanks @romainmenke!

@muster-mark, could you post some of the user-agent strings which are seeing this issue please?

[2021-08-10 21:07] muster-mark commented on #1081
@JakeChampion Sure, here they are.

Firefox: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:90.0) Gecko/20100101 Firefox/90.0"
Chrome: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36"
Safari: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15"
Edge: "M

[2021-08-11 00:17] mq2thez commented on #1082
@romainmenke I can't, but our use case is different here. We use a self-hosted service and have a browser perform a request to it, similar to using the public `polyfill.io` service. Because it does UA detection to serve minimal JS, the IntersectionObserver polyfill is not sent to iOS14 etc users. For now, that's done instead of serving static polyfills to everyone.

[2021-08-11 00:57] salemhilal commented on #1082
@mq2thez is there a chance that:
1. we were using `document` for the root? I'm seeing that that's [uniquely unsupported](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#browser_compatibility) in Safari (and Firefox for Android)
2. this could have been bot traffic? It wouldn't be the first time we've had bots spoofing user agents and missing APIs.

[2021-08-11 16:03] romainmenke commented on #1081
🤦 I could have checked this sooner.

This change hasn't been released yet on the polyfill-service

https://github.com/Financial-Times/polyfill-library/commit/ff90e8554a628e32ff2ce6318ecd528e38fddeb0#diff-46b8cfc7f1ad7813384be95dce8598b99339229acb5c08295d2e7f5c65b574c5

[2021-08-11 17:29] mq2thez commented on #1082
@salemhilal The errors were literally `IntersectionObserver is undefined`, not that specific APIs weren't behaving.

As I mentioned in the original comment, we had to revisit this problem because we got an influx user reports that the homepage was broken when folks were enabling the `$.appears` -> `IntersectionObserver` experiment.

Even before that, however, I had verified to my own satisfaction

[2021-08-13 09:11] chee commented on #650
@JakeChampion do we want to improve the documentation here, or is this working as expected?

[2021-08-13 09:30] JakeChampion commented on #650
This is no longer true for `Intl.RelativeTimeFormat` -- we have the locale subtags for that feature.

I've made a pull-request to update the notes for Intl.PluralRules -- https://github.com/Financial-Times/polyfill-library/pull/1084

[2021-08-13 09:48] #650 closed

[2021-08-13 16:04] #1082 closed

[2021-08-14 14:20] bakura10 opened #1085 "WebAnimations is incorrectly polyfilled on Safari"
Hi,

WebAnimations is natively available from Safari 13.1 on both Safari mobile and desktop. However it currently still serves a polyfill even on new iOS 15. As far as I know the Safari 13.1 implementation is on par with Chrome one.

[2021-08-17 05:29] #27 closed

[2021-08-21 13:04] elf-pavlik opened #1089 "window.crypto.randomUUID()"
Feature request

## What

polyfill.io doesn't provide polyfill for `window.crypto.randomUUID()`

## Details

Spec: https://github.com/WICG/uuid

Polyfill: https://github.com/uuidjs/randomUUID

[2021-08-21 13:35] romainmenke commented on #1089
Have been working on this : https://github.com/romainmenke/polyfill-library/blob/crypto.randomUUID--sincere-snapping-turtle-cbbcdffcf3/polyfills/crypto/randomUUID/polyfill.js

It currently only lacks a good `randomUUID` implementation for IE 8-9 and other browsers lacking `Blob` support.
Haven't had the time yet to compare different approaches.

[2021-08-22 07:38] romainmenke commented on #1072
@RaParker did you find anything interesting?

[2021-08-22 07:47] romainmenke commented on #711
This is fixed.

https://polyfill.io/v3/polyfill.js?features=IntersectionObserver,es2015,es2016,es2017,es2018,es2019

[code]

[2021-08-22 08:35] romainmenke commented on #628
This should be fixed. Polyfill is no longer loaded in modern Safari (tested in 14)

[2021-08-22 08:40] RaParker commented on #1072
Yes. Sorry, I’ve meant to get back to you for a week now.

So, it turned out there were two polyfills running: core-js and this one.
The problem is that for IE11, core-js doesn’t provide nearly enough
polyfilling. I did try manually creating an extract of the missing
prototype definitions, copied directly from your library, but once these
errors were resolved, some obscure errors remained. So for

[2021-08-22 08:49] romainmenke commented on #336
I don't think this is something that can be reliably polyfilled through the polyfill service.
When loading the polyfill for `nomodule` from an separate file it isn't executed quickly enough to prevent loading.

Tested this in Safari 10.1 and when the patch is added in HTML it works. When loaded separately both bundles (`module` and `nomodule`) are loaded.

[2021-08-22 09:10] romainmenke commented on #1072
:/ Indeed far from ideal that you need to combine both and have to add patches.

Unfortunately I don't think this project can provide interop support for `core-js` as there is too much overlap and interdependency between features.

---------------------

We had the same issue and created this : https://github.com/mrhenry/core-web/tree/main/packages/babel-plugin-core-web
It's a babel plugin to load

[2021-08-22 09:26] RaParker commented on #1072
Thanks, I'll check it out.

On Sun, 22 Aug 2021 at 10:10, Romain Menke ***@***.***> wrote:

[2021-08-22 11:55] #628 closed

[2021-08-22 11:56] JakeChampion commented on #336
Good point, this can only be polyfilled as inlined JavaScript, which we can't do in polyfill.io

[2021-08-22 11:56] #336 closed

[2021-08-22 11:58] JakeChampion commented on #1072
Thanks for looking into this both of you. That Babel plugin looks great!

[2021-08-22 11:58] #1072 closed

[2021-08-25 18:40] karlguillotte opened #1094 "Intl APIs: "browser lists" need to be updated"
## What

It looks like Intl APIs browser lists need to be updated.

## Details

 If you look at [DisplayNames](https://github.com/Financial-Times/polyfill-library/blob/master/polyfills/Intl/DisplayNames) for example:

Looking at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DisplayNames#browser_compatibility:
- Firefox started supporting it from version 86
-

[2021-08-29 21:02] #1094 closed

[2021-09-06 08:28] romainmenke commented on #115
I was able to replicate this when using both `core-js` (through babel `preset-env`) and `polyfill.io`.

Excluding `web.dom-collections.iterator` and `web.dom-collections.for-each` in your babel config might help. [example](https://github.com/mrhenry/core-web-example-script-tag/pull/1/commits/b58b9a31f735f99ec341cb6fe18c0aff69b5f43d)

But `core-js` and `polyfill.io` have other conflicts so you will

[2021-09-07 08:42] romainmenke commented on #1085
@JakeChampion Do you have the time this week to roll out a release here and for the `polyfill-service`?
Totally fine if you don't :)

[2021-09-07 11:25] JakeChampion commented on #1085
V3.108 is now out :-)
https://github.com/Financial-Times/polyfill-library/releases/tag/v3.108.0

[2021-09-07 12:12] romainmenke commented on #1085
Thank you!

[2021-09-08 00:27] bakura10 commented on #1085
Thanks @JakeChampion . It seems the last version is still 3.105: https://polyfill.io/v3/polyfill.min.js?features=WebAnimations

Does the deployment to production happens later? :)

[2021-09-09 10:06] chenyulun opened #1099 "3.108.0 build error"
[type]: bug

## What

"version": "3.108.0",
`run yarn build`
[code]

## Details

[2021-09-09 10:26] chenyulun commented on #1099
[code]

[2021-09-09 10:27] JakeChampion commented on #1099
Hi @chenyulun can you try with npm instead of yarn?

I tried and it is all working:
[code]

[2021-09-09 10:39] chenyulun commented on #1099
Same error, I have changed node version to V12.22.3 and used NPM run build
debugger`tasks/buildsources/polyfill.js`

[code]
[code]

[2021-09-09 10:49] romainmenke commented on #1099
🤔 I made sure not to update `HTMLTemplateElement` in https://github.com/Financial-Times/polyfill-library/pull/1095 because I had the same error.  Maybe I did it wrong anyway :/ I'll take a second look.

I opened a PR to resolve it upstream : https://github.com/webcomponents/polyfills/pull/476
But so far no response there.

[2021-09-09 10:50] chenyulun commented on #1099
`polyfills/HTMLTemplateElement/polyfill.js`
line 326 cole 17
[code]

[2021-09-09 10:59] romainmenke commented on #1099
@chenyulun can you run `npm ci` and then `npm run build`?
Doing thatm the build passed for me as the `HTMLTemplateElement` polyfill will be exactly `v1.4.0`.

@JakeChampion we could pin that version until the issue is resolved upstream?

[code]

[2021-09-09 11:11] chenyulun commented on #1099
@romainmenke
`"uglify-js": "^2.7.5"`
try {

	minified = uglify.minify(source, {
		fromString: true,
		compress: {
			screw_ie8: false,
			keep_fnames: true
		},
		mangle: {
			screw_ie8: false
		},
		output: {
			screw_ie8: false,
			beautify: false
		}
	});
} catch (error) {
	console.log('uglify.minify error')
	console.log('source', source)
}
[code]
by the way: I used @webComponents /template 1.5

[2021-09-09 11:16] chenyulun commented on #1099
1. delete node_modules
2. npm i
3. npm run build
[code]
➜  polyfill-library git:(master) ✗

[2021-09-09 11:19] romainmenke commented on #1099
That also works :)
`npm ci` is kinda the equivalent of deleting node_modules + `npm install`

[2021-09-09 11:24] chenyulun commented on #1099
Consider upgrading your compression tools?
`uglify-js` does not support advanced syntax
It would be nice if the environment could support Node16.

[2021-09-13 09:31] JakeChampion commented on #1085
I'm going to deploy to polyfill.io today 👍

[2021-09-13 09:43] JakeChampion commented on #1085
@bakura10 and @romainmenke here is the pull-request for the update -- https://github.com/Financial-Times/polyfill-service/pull/2641

[2021-09-15 06:07] romainmenke commented on #1081
This is fixed and released :

https://polyfill.io/v3/polyfill.js?features=ArrayBuffer

[code]

[2021-09-15 06:12] romainmenke commented on #1085
Thank you @JakeChampion!

https://polyfill.io/v3/polyfill.js?features=WebAnimations

[code]

[2021-09-15 06:58] #1085 closed

[2021-09-15 09:32] #1081 closed

[2021-09-15 16:17] Nickinthebox opened #1100 "Invalid timeZoneName on version 3.108.0 (which can be fixed downgrading to previous Polyfill version)"
We use Polyfill on production website without specifying the version (I know we should not have, lesson learned!) loaded from cdn.polyfill.io

We use sentry & trackJS to track errors on our websites and noticed a tremendous amount of errors on TrackJS with error name:
`Invalid timeZoneName`

This error is originating from various browser version including:
- Firefox 72 / 78 / ...
- Safari 11 / 13

[2021-09-15 16:36] romainmenke commented on #1100
🤔 That should not happen.

If the error happens in Safari 11 it might be because of an update to Intl?
Looking through that big config change for all Intl polyfills I don't see any dropping to a version Safari 11 would not receive a polyfill.

Can you provide a code snippet and the polyfill.io url you use?

[2021-09-15 17:19] Nickinthebox commented on #1100
[code]

vs

[code]

[2021-09-15 17:31] Nickinthebox commented on #1100
Sorry @romainmenke I cannot help more than sharing these snippets, I don't really know the polyfill project structure and/or if this comes from Intl.

The first snippet above works well on Firefox 78, Safari 11, ... but the second one is not working.

Both are working fine on Firefox 92, Safari 14.1, Chrome 93, ...

[2021-09-15 17:44] romainmenke commented on #1100
That is totally fine :)

I can replicate the issue with that snippet which is awesome!

This works for me with the latest version :

Polyfill list :

- Intl.DateTimeFormat.~locale.fr
- Intl.DateTimeFormat.~timeZone.golden

However it seems we had an unintended breaking change somewhere.

My best guess at this point is that we now polyfill `DateTimeFormat` in more browsers, regardless of config.
In

[2021-09-15 17:46] Nickinthebox commented on #1100
If it helps, I have tried the snippets on Browserstack on the following versions:

Firefox 91: both snippets are working
Firefox 90: snippet with 3.108.0 is not working

Opera 63 : both snippets are working
Opera 62 : snippet with 3.108.0 is not working

Chrome 76: both snippets are working
Chrome 75: snippet with 3.108.0 is not working

[2021-09-17 09:34] kapouer opened #1101 "[feature request] Event constructor(s) polyfill"
`document.dispatchEvent(new MouseEvent("click"))`

Specification:
https://developer.mozilla.org/en-US/docs/Web/API/Event/Event

Also contains a table of non supporting browsers (old ones + IE).

Polyfill:
https://github.com/theftprevention/event-constructor-polyfill/blob/master/README.md

[2021-09-20 01:19] longlho commented on #1100
The polyfills we wrote actually track stage-3 proposals for ECMA-402 which typically means 2 engines have shipped & next version of normative changes. The detection algorithm reflects that.

[2021-09-20 06:07] romainmenke commented on #1100
Sorry @longlho, I should have explained better how it is related to https://github.com/Financial-Times/polyfill-library/issues/1042

In that case the time zone data was missing. We resolved that by adding `Intl.DateTimeFormat.~timeZone.all` and `Intl.DateTimeFormat.~timeZone.golden` as separate features.

Some browser versions however have limited native `Intl` support and have time zone data.
Whe

[2021-09-20 13:12] longlho commented on #1100
yeah timezone is optional, similarly to how IE11 ships DateTimeFormat without timezone data so I think it's probably a documentation issue instead of forcing tz data in every instance.

[2021-09-24 13:30] romainmenke commented on #1100
@Nickinthebox The builder has been updates :

[2021-09-27 06:04] srikarsam opened #1103 "Intl.Listformat not being loaded for macOS Catalina Safari v14.1 and higher"
Type: BUG

## What

`Intl.ListFormat` polyfill is not being loaded for Safari versions >= 14.1. I've observed that this feature is not available on macOS Catalina Safari V14.1 whereas it is available on macOS BigSur Safari V14.1

https://github.com/Financial-Times/polyfill-library/blob/master/polyfills/Intl/ListFormat/config.toml#L35

## Details

- `Intl.ListFormat` polyfill should be loaded for M

[2021-09-27 08:04] romainmenke commented on #1103
Is it possible to test if the feature exists in Safari 15 on Catalina?

Trying to judge the scope of this issue.
Very unfortunate that Safari can now have a different feature set for the same version.

[2021-09-27 15:09] srikarsam commented on #1103
Thanks for your reply @romainmenke !

I just upgraded safari to v15.0 Looks like it still don't have `Intl.ListFormat` support. Please find the screenshot below. Thank you!

![image](https://user-images.githubusercontent.com/74644778/134935491-bf856c0c-3c70-4a33-998d-416b7da89849.png)

[2021-09-27 15:14] romainmenke commented on #1103
Thank you for the extra info @srikarsam !
We'll have to think a bit about this as it seems that Safari versions in user agents are not a reliable way to detect `Intl` support.

I also wonder if there are other features missing in new Safari versions on Catalina :/

[2021-09-27 15:17] romainmenke commented on #1103
Follow up question, can you post your user agent string here?
I am wondering what info is in there.

[2021-09-27 15:34] srikarsam commented on #1103
@romainmenke Locale data is also missing. Please find the user agent below:

`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.0 Safari/605.1.15`

[2021-09-28 05:50] srikarsam commented on #1103
Hey @romainmenke! Thanks for letting me know that this feature is OS dependant.

I ran the tests. Looks like `Intl.ListFormat` is the only one which is failing. Please find the screenshot below:

![image](https://user-images.githubusercontent.com/74644778/135030620-00830fef-d025-41f7-88eb-c43d023de5d0.png)

[2021-09-28 15:37] #1103 closed

[2021-09-28 15:59] longlho commented on #1103
yeah ICU versions get updated on a separate cadence and we try to check for that in terms of capabilities & bugfixes

[2021-11-01 18:30] vanderhoop commented on #711
Hey @JakeChampion, we're still seeing this issue of attempting to overwrite the readonly and already available `Symbol.asyncIterator` API, specifically in iOS safari, versions 14.X and 15.X.

Interestingly enough, we're not seeing this on Mac OS, even on the latest versions (14.X and 15.X). I suspect this is due to the user agent string of the iOS safari.s

We're on polyfill.io, version `3.108.0`

[2021-11-02 14:12] kapouer opened #1111 "SubmitEvent.submitter polyfill ?"
Feature request.

## What
This is the merged PR for the new spec:
https://github.com/whatwg/html/pull/4984

An example polyfill:
https://github.com/idea2app/event-submitter-polyfill

and the table of browsers support:
https://caniuse.com/mdn-api_submitevent_submitter

## Details
This is a common issue when dealing with forms submitted by clicking a submit button.
Currently one has to use document.

[2021-11-10 02:14] chenyulun opened #1113 "Many polyfills are missing"
[type]: A bug report

## What

Core-js test cases are compared，It turns out that Polyfill-Library is missing a lot
## Details

Chrome 41
https://github.com/chenyulun/polyfill-test

# polyfill-test

## polyfill.io VS core-js3.9.1
Use the link calculated below
[code]
Core-js compiles the full code `minified.js`

The patch gap in the lower version of the phone is too big

### Test steps
[code]
Choose

[2021-11-10 18:15] mhassan1 commented on #1113
i think it would be helpful to have individual issues for each of these defective polyfills, with the appropriate level of detail. i would be happy to help pick up some of that work.

[2021-11-10 18:27] zloirock commented on #1113
@chenyulun if you wanna use `core-js` test suite, it's much better to use `/tests/tests` instead of `/tests/compat` since `/tests/compat` is oriented only to detection of basic and known issues of native implementations.

[2021-11-10 20:21] cdaringe opened #1115 "RFC: support f(browser) => array-of-missing-features"
## What

I need to build a targeted polyfill for browser X, but I do not know the polyfill-abe features that browser X needs.

- e.g. provide a function `f`, where `f(safari, 12) => ["ResizeObserver", "INTL.XYZ", ..., other-missing-features]`

This is highly desirable functionality, because:

- compiler toolchains may already compensate for some features, which may not need to be polyfilled, so th

[2021-11-10 21:51] romainmenke commented on #1115
Hi @cdaringe,

Thank you for the issue!

Some quick notes on the version info in `config.toml` files.

Ranges can define a minimum version required.
e.g. A polyfill that doesn't work in IE8 : `ie = "9 - 11"`

--------

I believe this says "polyfill for safari 10.1 and later", which I do not think is correct

This exception is documented in the notes here : https://github.com/Financial-Times/polyfi

[2021-11-10 23:28] cdaringe commented on #1115
Hey @romainmenke

Thanks for the feedback. I've taken the opportunity to simplify my original problem statement at the top of the issue. I'm going to answer your questions, but out of order :)

My ultimate objective is to support building an intelligent, targeted polyfill, programatically. Implementing `getMissingFeatures` is part of that puzzle.

Practically speaking, I need to solve the below eq

[2021-11-10 23:45] cdaringe commented on #1115
`const { required } = require("@mrhenry/core-web");` is exactly what i'm looking for :), thanks.  Looks like I wrote a bunch of code to re-emulate that content.

I didn't see references to core-web in this project. Can you help clarify the relation between these two? Ultimately I was hoping that `required` was exposed in this package :)

[2021-11-11 01:32] cdaringe opened #1117 "RFC: align browser naming conventions to caniuse format"
## What

### Context

Various web tooling solutions have begun to orient around [browserslist & caniuse](https://github.com/browserslist/browserslist) data. Browserslist github page calls out a few of the high impact projects, such babel, eslint, and (unlisted) swc! These awesome projects share the common goal of this awesome project, which is fundamentally enabling an excellent browser compatibil

[2021-11-11 01:33] #1117 closed

[2021-11-11 01:56] cdaringe commented on #940
Hey all! Sorry for all the noise today--lots of features and discussion :)

Big 👍 to this topic. I'd advocate to advance the recommendation much further. There is additional simplicity and maintenance reduction to be had here. Rather than just align the names, I'd propose that we fully integrate with caniuse-lite.
caniuse-lite can drive:

- browser names convention
- all of the support compatibili

[2021-11-11 03:40] chenyulun opened #1118 "Ios_chr ua detection is not correct"
# A bug report

## What

`CriOS/92.0.4515.90`Supported features promise.any
`ios_saf/11.0.0` Does not support feature promise.any

## Details

1. device： iPhone 7P
2. OS: IOS 14.8
3. chrome： 92.0.4515.90
[code]
### Ios Safari and WebKit kernel information
https://raw.githubusercontent.com/mdn/browser-compat-data/main/browsers/safari_ios.json

Judging UA by ios Safari and ios Chrome by 'Safari/604.

[2021-11-11 11:18] romainmenke commented on #1115
We ([mrhenry](https://github.com/mrhenry)) used to request polyfills from polyfill.io but had similar issues.

- how to maintain correct polyfill bundles across ±100 different websites
- frontend dev teams struggled with browser support goals (missing polyfills, duplicate polyfills, ...)

`core-web` was our answer to that. We needed a tool that would magically fix browser support.

So polyfill-lib

[2021-11-11 11:25] romainmenke commented on #940
caniuse-lite can drive

This is not possible as the browser version ranges in config.toml do not express the same information as versions from mdn/caniuse.

Here we declare which browsers require and can run a polyfill.
In MDN/caniuse supported browsers are declared (sometimes partial or prefixed)

These mostly have the same versions but there are many examples of exceptions and gotcha's

[2021-11-11 22:51] cdaringe commented on #940
Thanks!

<details>
<summary>Would a naive caniuse implementation really provide benefit?</summary>
Suppose you said instead, "ya, they overlap, perhaps we should use caniuse to implement a naive solution."  In a naive solution:

Interesting. I hear your point. Nonetheless, the data's carry a great deal of overlapping information. Allow me to think out loud here, just reach 🧊 clarity, or drive more

[2021-11-12 00:52] cdaringe commented on #940
Missing from this list is android chrome (browserslist `ChromeAndroid`/`and_chr`). I don't see it called out in https://github.com/Financial-Times/polyfill-library/blob/master/.github/contributing.md#browser-compatibility either.

Is this mapped in the polyfill syntax? I do see android chrome called out on MDN!

[2021-11-12 10:36] JakeChampion commented on #940
@cdaringe our user-agent normaliser converts android chrome to chrome - if I remember correctly, android chrome and desktop chrome have the same feature set which is why we use `chrome` for them both.

Our `android` distinction is for the default android webview that was used and didn't have the same feature set as chrome

[2021-11-15 10:54] chenyulun opened #1124 ""ios_saf/11.0.0" es.symbol.description does not support"
# A bug report

## What

`Symbol('foo').description == 'foo'` in "ios_saf/11.0.0" return false

## Details

- Browser : Mozilla/5.0 (iPhone; CPU iPhone OS 11_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.0 Mobile/15E148 Safari/604.1
- Device IPhone 6 puls 11.4.1

![image](https://user-images.githubusercontent.com/15979948/141769173-279a849f-278a-440c-b830-7de345c2e234.png)

[2021-11-15 10:55] romainmenke commented on #1124
Hi!

Can you share the polyfill.io url used?

[2021-11-15 11:45] chenyulun commented on #1124
`https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019`
I actually built the server myself, and I overwrote the value of 'default'
[code]

[2021-11-15 11:48] romainmenke commented on #1124
Can you try adding `Symbol.prototype.description`?
It's a separate polyfill and isn't part of `default` or another alias.

[2021-11-15 11:59] chenyulun commented on #1124
I was wrong, I thought these attributes were added by default, so I added them again
[code]

[2021-11-15 12:04] chenyulun commented on #1124
The test results still fail
![image](https://user-images.githubusercontent.com/15979948/141779020-036b712b-d020-48dd-b70c-8f3fea97b818.png)

[2021-11-15 12:10] romainmenke commented on #1124
🤔 It should work : https://github.com/Financial-Times/polyfill-library/blob/master/polyfills/Symbol/prototype/description/tests.js#L19

Can you add the list of returned polyfills instead of the requested?

What is the type error in your logs?

[2021-11-15 12:27] chenyulun commented on #1124
`https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019%2CSymbol%2CSymbol.asyncIterator%2CSymbol.for%2CSymbol.hasInstance%2CSymbol.isConcatSpreadable%2CSymbol.iterator%2CSymbol.keyFor%2CSymbol.match%2CSymbol.prototype.description%2CSymbol.replace%2CSymbol.search%2CSymbol.species%2CSymbol.split%2CSymbol.toPrimitive%2CSymbol.unscopables%2CSymbol.toString

[2021-11-15 12:34] romainmenke commented on #1124
I don't think that url is correct.
When using `always` you should also use `gated`.

I think the polyfill script is just throwing errors because of that and any polyfills after the error are not applied.

[2021-11-15 12:36] JakeChampion commented on #1124
I tested this on BrowserStack using an iPhone 6 and it looks to work correctly:
![image](https://user-images.githubusercontent.com/1569131/141783245-c59bce02-1151-4cae-9543-a07aecc0edfc.png)

The html I used was this:
[code]

[2021-11-15 12:40] chenyulun commented on #1124
![image](https://user-images.githubusercontent.com/15979948/141783775-5d9a7401-de33-4a18-ae42-f61b155e224b.png)

[2021-11-15 12:54] chenyulun commented on #1124
![image](https://user-images.githubusercontent.com/15979948/141784814-e8944155-77ba-40b5-904d-692bd3ecccf5.png)

The flags in caniuse are not supported by iOS_SAF (iOS_SAF_11)

`core-js` shows that ios 12 supports this feature，
![image](https://user-images.githubusercontent.com/15979948/141785162-9cade50b-b89a-46ef-9ffe-7d743a41b1e6.png)

The reason why `polyfill.io` reported an error is that you

[2021-11-15 23:13] JakeChampion commented on #1124
We send the polyfill for Symbol.asyncIterator to iOS Safari versions below 11.1
https://github.com/Financial-Times/polyfill-library/blob/8b44935668e7b044e623aeade02bb38efb5ea91f/polyfills/Symbol/asyncIterator/config.toml#L15

This issue was opened for Symbol.prototype.description, could you please open another issue about Symbol.asyncIterator and we can close this issue if you think we've resolved

[2021-11-17 12:26] chenyulun commented on #1124
I began to doubt whether this solution was feasible. I packaged core-JS for various browsers directly, and determined that the UA returned the corresponding type of bundle (which could support Gzip and BR), instead of dynamically generating polyfill

[2021-11-17 12:27] #1124 closed

[2021-11-18 11:14] #862 closed

[2021-11-23 14:15] JakeChampion commented on #1089
We won't be implementing a polyfill for this, chee has explained the reasoning in a [comment on the draft PR](https://github.com/Financial-Times/polyfill-library/pull/1090#issuecomment-903159185), I have copied it below:

[2021-11-23 14:15] #1089 closed

[2021-11-24 15:29] #167 closed

[2021-11-24 16:01] romainmenke opened #1129 "Weekly tests with polyfill combinations are failing in IE8"
see : https://github.com/Financial-Times/polyfill-library/runs/4280696106?check_suite_focus=true

[code]

I can't immediately see which change introduced this regression.

There is an exception on : `polyfills/Object/defineProperty/polyfill.js:37`
This explains why polyfill tests fail at some point.
Something throws an exception, stopping execution of the polyfill bundle.

[code]

But there are a

[2021-11-27 19:01] TomazicM opened #1132 "Problems with Reflect.getPrototypeOf polyfill"
## Possible bug report

## What
I'm trying to use latest OpenLayers 6.9.0 in IE11 browser and have problems with the `Reflect.getPrototypeOf` polyfill.

## Details

This is the part of the OL helpers code that uses `Reflect.getPrototypeOf` method:
[code]
Problem is that polyfill returns `undefined` for `Reflect.getPrototypeOf(Uint8Array).prototype`.

Then I had a look at the source code of the pol

[2021-11-28 00:26] JakeChampion commented on #1132
Hi can you please post the full user agent for the browser you saw the issue with and also the full polfill.io URL or full polyfill list given to polyfill-library - with that information we should hopefully be able to help

[2021-11-28 10:06] TomazicM commented on #1132
My use agent is IE11 on Windows 10:
- `Version 21H1 (OS Build 19043.1348)`

This is the polyfill pack I use:
-  `https://polyfill.io/v3/polyfill.js?features=Symbol%2CPromise%2CObject.assign%2CElement.prototype.classList%2CEvent%2CReflect%2CReflect.getPrototypeOf%2CReflect.getOwnPropertyDescriptor%2CReflect.setPrototypeOf%2CReflect.set%2CReflect.preventExtensions%2CReflect.ownKeys%2CReflect.isExten

[2021-12-02 19:57] cdaringe opened #1133 "String.prototype.trim incorrect safari version range"
## What

### Problem

String.prototype.trim claims `safari = "<12.1"`, which appears incorrect

## Details

- MDN claims support: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
- https://caniuse.com/?search=trim

I suspect it should be `<5` vs `<12.1`!

Please assert and we will send a patch

[2021-12-03 00:15] JakeChampion commented on #1133
Hi, this is due to the fact the version of unicode used in ecmascript was updated and changed what was defined as whitespace - that whitespace definition is used in string.prototypr.trim, which meant older browsers had a spec non compliant implementation, which is why we polyfill those versions.

This is the commit which updated the spec https://github.com/tc39/ecma262/pull/300

[2021-12-03 01:44] cdaringe commented on #1133
Ouch! https://en.wikipedia.org/wiki/Whitespace_character#Unicode

must have been rough doing that diff

[2021-12-03 01:44] #1133 closed

[2021-12-03 16:07] mhassan1 commented on #326
@JakeChampion I see there was a [PR](https://github.com/Financial-Times/polyfill-library/pull/486) for this. Do you remember why it never left draft and was closed?

[2021-12-06 12:21] arturmuller opened #1254 "Albanian locale is not included for Chrome"

[2021-12-06 14:02] JakeChampion opened #1137 "Library throws an error for properties which exist directly on Object.prototype"
This was originally reported in https://github.com/Financial-Times/polyfill-service/issues/2652

## What
If requesting any property which exists on directly on Object.prototype such as:
- `'constructor',`
- `'__defineGetter__'`
- `'__defineSetter__'`
- `'hasOwnProperty'`
- `'__lookupGetter__'`
- `'__lookupSetter__'`
- `'isPrototypeOf'`
- `'propertyIsEnumerable'`
- `'toString'`
- `'valueOf'`
- `'__

[2021-12-06 14:42] JakeChampion commented on #326
I gave up on implementing the feature. I'm happy to review a PR which adds it 👍

[2021-12-06 17:31] #1137 closed

[2021-12-07 13:52] romainmenke commented on #1129
@JakeChampion I saw that you just released a [new version](https://github.com/Financial-Times/polyfill-library/releases/tag/v3.110.0).

Maybe you missed this issue, but I think one of the last updates broken a bunch of things in IE8. I haven't had time to look into more :/

[2021-12-07 14:05] JakeChampion commented on #1129
You're right @romainmenke I did miss this - I'll see if I have time to look into it today - thank you for pinging me on this!

[2021-12-07 14:29] #300 closed

[2021-12-07 14:34] JakeChampion commented on #1129
I'm looking into this now btw

[2021-12-07 14:52] JakeChampion commented on #1129
It looks like the issue is possibly within the ArrayBuffer polyfill as that uses Object.defineProperty getters and setters without being within a try..catch block.

[code]

[2021-12-07 16:25] JakeChampion commented on #1129
I think I have now found the fix for this and also found another bug to fix :D

[2021-12-08 18:54] #1129 closed

[2021-12-08 21:25] mhassan1 opened #1142 "`localStorage` polyfill allows overwriting methods"
## What
The `localStorage` polyfill allows overwriting its methods (e.g. `getItem`)

## Details
Reproduction Steps:
* Load `localStorage` polyfill
* Execute `localStorage.setItem('getItem', 'hello')`
* Execute `localStorage.getItem('getItem')`

Expected Result: `'hello'`
Actual Result: `Error: Function expected`

Browser: IE 7

[2021-12-09 08:04] romainmenke commented on #1129
Thank you @JakeChampion for taking the time to track this down and getting it resolved so quickly!

[2021-12-09 11:27] #669 closed

[2021-12-09 11:39] JakeChampion commented on #1142
We changed our browser support a few years ago to only go as far back as IE 8, I think we don't actually need the localStorage polyfill anymore as it is configured only for IE 6 and 7.

I see we haven't documented the baseline supported versions in this repo, this is what they are:
[code]

That list comes from https://github.com/Financial-Times/polyfill-useragent-normaliser/blob/3c0fbc4410f539922d

[2021-12-09 20:12] mhassan1 commented on #1142
Thanks. Since this is no longer a supported polyfill, I'll close this issue.

[2021-12-09 20:12] #1142 closed

[2021-12-09 20:17] mhassan1 opened #1143 "Unsupported polyfills should be removed"
## What
There are a few no longer needed polyfills that can be removed.

## Details
Legacy browser support has moved up ([link](https://github.com/Financial-Times/polyfill-library/issues/1142#issuecomment-989774035)), making some polyfills obsolete:
* `localStorage`
* `Window`
* `JSON`

We should remove these polyfills so we can stop maintaining them.

[2021-12-09 20:18] mhassan1 commented on #1143
@JakeChampion Is there a good way for us to identify which polyfills can be removed? For example, can we query all config files for browser ranges that don't overlap with the supported set?

[2021-12-10 10:49] L1nkss opened #1176 "Add PointerEvent polyfill"
Hello.
Is it possible to add polyfill for [PointerEvent](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events) ?

[2021-12-10 11:22] romainmenke commented on #1143
Removing it would technically be a breaking change for the polyfill-library.
Maybe marking them for deletion in a next major version would be best?

[2021-12-10 16:42] mhassan1 opened #1144 "[Discussion] 4.x Release"
It's been a few years since the last major release. The next major release could address these:
- [x] Drop support for Node 8 and Node 10 (https://github.com/Financial-Times/polyfill-library/pull/1148)
- [x] Update `baselineVersions` in `polyfill-useragent-normalizer` (https://github.com/Financial-Times/polyfill-useragent-normaliser/pull/173)
- [x] Update browser lists to remove outdated browsers

[2021-12-10 16:43] mhassan1 commented on #1143
I've created a new issue for discussion of the next major: https://github.com/Financial-Times/polyfill-library/issues/1144

[2021-12-10 16:43] #1143 closed

[2021-12-10 16:44] mhassan1 commented on #1144
@JakeChampion What do you think?

[2021-12-10 16:44] JakeChampion commented on #1144
I think this is excellent

[2021-12-13 17:18] mhassan1 commented on #1144
Can we create a `4.x` branch so we can start putting up PRs?

[2021-12-13 23:32] cdaringe opened #1145 "getPolyfillString emits invalid environment warning when used as library"
## What

`getPolyfillString()` emits an ENV warning in the emitted javascript, against expectation.

I call `getPolyfillString` from library code, not via a service, however, [getPolyfillString](https://github.com/Financial-Times/polyfill-library/blob/6a573419392dbbd355f343b8a48e679e372917b1/lib/index.js#L238) assumes it's being run as a service, and reads the ENV vs it's passed params.

I cannot

[2021-12-14 00:03] thienanle commented on #115
I was able to replicate this by loading this up in IE11 after adding the polyfill below:

https://moment.github.io/luxon/demo/global.html

Polyfill:
[code]

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/874402/145908383-2fa40656-59d0-4f6d-a812-549c5a320e29.png">

[2021-12-19 15:14] AliMD opened #1146 "Feature/Polyfill Request: Web Components Polyfills"
Feature/Polyfill Request:

Thanks for this great project.
Could you please add [Web Components Polyfills](https://github.com/webcomponents/polyfills)
Or simple document/advice for contributing.

[2021-12-21 13:24] CheloXL opened #1147 "Feature/Polyfill request: structuredClone"
As the title says, I would like to have a [structuredClone](https://github.com/ungap/structured-clone/) polyfill. At the time of writing, all browsers have implemented this API in their nightly releases, Firefox has shipped it to stable in Firefox 94. Additionally, Node 17 and Deno 1.14 have implemented this API.

[2022-01-04 15:01] JakeChampion commented on #1144
@mhassan1 I've made a branch named 4.x 👍 https://github.com/Financial-Times/polyfill-library/tree/4.x

[2022-01-10 16:33] mhassan1 commented on #1144
@JakeChampion I am just waiting on a major release of `polyfill-useragent-normalizer` before continuing.

[2022-01-10 17:29] JakeChampion commented on #1144
@mhassan1 thanks, the new major of polyfill-useragent-normaliser should now be released

[2022-01-20 01:35] klarstrup commented on #711
Still seeing this around on 3.110.1

[2022-01-31 22:08] YixiongLin opened #1152 "Bug with Symbol on OculusBrowser"
Bug report

## What

My company website is using some features on polyfill-library and we would like to launch our web in the browser of Oculus Quest 2 VR headset. We found that an issue with Symbol always breaks while launching the app.
## Details

[2022-01-31 22:15] romainmenke commented on #1152
@YixiongLin Is it possible to capture the error message you get on the device?
The guide you linked is intended for feature development and not very useful for debugging.

----

Issues with `Symbol` are often caused by duplicate `Symbol` polyfills.
Are you also using a tool like `core-js` or `babel-preset-env`?

[2022-01-31 22:22] YixiongLin commented on #1152
Directly error:
![image](https://user-images.githubusercontent.com/36005130/151882464-ba43940c-c48e-4d3e-b9ee-7fbbe4b631dc.png)
![image](https://user-images.githubusercontent.com/36005130/151882958-c38da88b-212c-4c34-ace7-fd902b36286f.png)

You're right that seems like my project is using a few packages that has core-js as sub-dependencies. Those packages are: babel-polyfill, babel-register, babel

[2022-01-31 22:28] romainmenke commented on #1152
In general `polyfill-library` is not compatible with `core-js`.

You could try to disable some features from `core-js` via : https://babeljs.io/docs/en/babel-preset-env#exclude

Which `polyfill-library` features do you depend on for your project?

[2022-01-31 22:34] YixiongLin commented on #1152
Thanks for your direction! I am using following features: 'default',
  'es2015',
  'es2016',
  'es2017',
  'es2018',
  'es2019',
  'fetch',
  'navigator.sendBeacon',
  'IntersectionObserver',
  'ResizeObserver'

I could definitely give a shot to your suggestion for disabling core-js through the link you included

[2022-02-01 11:01] romainmenke commented on #1152
Alternatively you can keep using `core-js` and manually include the needed web features.

First step is to determine to this issue is indeed caused by a conflict between `core-js` and `polyfill-library`.

A next step would be to pick the right way to include the needed polyfills.
This might be build around `core-js` with extra polyfills for `fetch`, `sendBeacon`, ...
Or build around `polyfill-libr

[2022-02-01 11:02] JakeChampion commented on #1152
@romainmenke would [core-web](https://core-web.mrhenry.studio/) be a possible solution for this situation?

[2022-02-01 11:11] romainmenke commented on #1152
Yup :)

But I try to avoid immediately proposing it without having enough context.
It's a big hammer and if the actual issue is something else it is better to solve that.

@YixiongLin `core-web` is a babel plugin that automatically injects imports for needed polyfills from `polyfill-library` but excludes any features that would be polyfilled by `core-js`.

So `Symbol` would be polyfilled by `core-

[2022-02-01 20:08] romainmenke commented on #1152
This looks more like the Oculus User Agent string is not normalised or detected correctly by : https://github.com/Financial-Times/polyfill-useragent-normaliser or https://github.com/Financial-Times/useragent_parser

`https://polyfill.io/v3/polyfill.js?features=Symbol`

`Mozilla/5.0 (X11; Linux x86_64; Quest 2) AppleWebKit/537.36 (KHTML, like Gecko) OculusBrowser/18.1.0.2.46.337441587 SamsungBrowse

[2022-02-02 15:22] YixiongLin commented on #1152
Thank you so much for providing this solution! I think it works for my case and I am testing the change for inhouse environment. Regarding future plan, do you guys plan on including OculusBrowser check in the UA parser in order to rule out Symbol polyfill?

[2022-02-02 15:42] JakeChampion commented on #1152
@romainmenke could you send a link to how core-web is doing the useragent parsing? I would like to see if we can incorporate that into  Financial-Times/polyfill-useragent-normaliser or Financial-Times/useragent_parser

[2022-02-17 09:15] clempat opened #1158 "[bug] Issue with the Reflect.construct polyfill ?"
## What
I am getting exception when Reflect.construct polyfill is loaded on a bare next JS project.

## Details
### Steps
My issue is on a complex project, but I tried to reproduce it with the minimal setup:
1. Create new next JS project using `npx create-next-app nextjs-blog --use-npm --example "https://github.com/vercel/next-learn/tree/master/basics/learn-starter"`
2. Add `<script src="https://p

[2022-02-17 10:03] jdeniau commented on #1158
Same here on opera too with the following version

[code]

It is not polyfiled in another chrome-like browser with chrome 98.0.4758.88

[2022-02-17 10:29] JakeChampion commented on #1158
@jdeniau thanks for the issue, do you know if that version of opera supports Reflect.construct without the polyfill?

[2022-02-17 11:39] jdeniau commented on #1158
@JakeChampion Apparently it does work [since Opera 36](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect/construct#browser_compatibility)

Tested in this Opera version and it is working :
![image](https://user-images.githubusercontent.com/1398469/154474004-d636f67c-39d0-42c6-a715-e90ee9954c74.png)

[2022-02-17 11:42] jdeniau commented on #1158
As a matter of fact, all Reflect functionnality is available in Opera 36 : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect#browser_compatibility

I will submit a PR

[2022-02-17 12:06] clempat commented on #1158
But will it still an issue for the browsers not having this functionality?

[2022-02-18 08:40] jdeniau commented on #1158
@clempat tested on Opera 34 Windows on browserstack and the issue I did have is not present

[2022-02-18 09:07] jdeniau opened #1160 "RFC : Use mdn compat table data instead of custom configuration"
## What

RFC to use the up-to-date [@mdn/browser-compat-data](https://github.com/mdn/browser-compat-data) instead of local configuration (on at least use it to create such configuration)

## Details

In order to fix #1158 , I submitted #1159. In order to know which version of Opera should be added, I looked on mdn to see the browser compatibility.

I looked at #1042  and #19 that explain that you

[2022-03-03 08:52] aquinoelite opened #1162 "Orphaned Repository - For Archiving."
Orphaned Repository - For Archiving.

Hi Team,
Please confirm so we can proceed with the archiving of this repo.

[2022-03-04 18:43] Krinkle commented on #4
I can reproduce this and it is affecting Wikipedia as downstream user of this polyfill ([T106244](https://phabricator.wikimedia.org/T106244)).

The previous homemade URL parser we used was unable to deal with invalid UTF-8 in percent encoding in some graceful manner, whereas the `URL`  spec does. But upon switching to it, while it addressed the issue in modern browsers where we use it natively, it

[2022-03-04 22:55] JakeChampion commented on #1162
This is not orphaned, it powers polyfill.io and gets contributions

[2022-03-04 22:55] #1162 closed

[2022-03-12 14:05] #4 closed

[2022-03-17 22:28] romainmenke opened #1175 "Github actions now support re-running individual jobs."
https://github.com/Financial-Times/polyfill-library/blob/0ece79ce3238190eded65f3a9432a0ca6bf5d65d/.github/workflows/test-polyfills.yml#L54

https://github.blog/changelog/2022-03-17-github-actions-re-run-only-failed-or-individual-jobs/

This might simplify the workflows.
I haven't tested it yet but will try to find time for this.

[2022-03-26 04:12] emondpph commented on #46
Bump. I would be really interested to have that polyfill integrated in polyfill.io

[2022-04-01 09:32] JakeChampion commented on #1144
Thank you @mhassan1 for all this work, we have now released v4 🎉  -- https://github.com/Financial-Times/polyfill-library/releases/tag/v4.0.0

[2022-04-01 09:32] #1144 closed

[2022-04-08 01:53] mhassan1 commented on #1179
The reason for this issue is that `HTMLSelectElement.prototype.remove` is a different function than `Element.prototype.remove`, so the polyfill does not affect `HTMLSelectElement.prototype.remove`:
[code]
See https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/remove#see_also:

So, `document.querySelector('select').remove(0)` means "remove the first option from the `HTMLSelectElemen

[2022-04-12 21:00] #44 closed

[2022-04-12 21:02] #221 closed

[2022-04-14 02:25] mhassan1 commented on #1132
I don't think this problem is related to the `Reflect.getPrototypeOf` polyfill; I think it's a problem with `Symbol.toStringTag`. If I polyfill `Symbol.toStringTag` in modern Chrome, I get the same `Cannot read properties of undefined (reading 'get')` error.

I also see this when I polyfill `Symbol.toStringTag` only:
[code]

I don't know enough about `Symbol`s to say what the problem is. Maybe rel

[2022-04-14 02:55] mhassan1 commented on #1132
It seems like we should be polyfilling `Symbol.toStringTag` on different prototypes, like this: https://github.com/inexorabletash/polyfill/blob/716a3f36ca10fad032083014faf1a47c638e2502/es6.js#L2329

[2022-04-26 08:19] #1175 closed

[2022-05-02 14:35] IgnusG opened #1253 "[feature request]: Add Temporal polyfill"

[2022-05-11 19:15] mhassan1 commented on #1147
`structuredClone` is not 100% polyfill-able, but the `core-js` implementation seems to get pretty close, with only a few [caveats](https://github.com/zloirock/core-js#caveats-when-using-structuredclone-polyfill). @JakeChampion What do you think?

[2022-05-19 01:18] mhassan1 commented on #1132
I just added https://github.com/Financial-Times/polyfill-library/pull/1187, which adds `Symbol.toStringTag` to several prototypes; however, I don't think it actually solves this issue.

I think the problem is actually with IE11's implementation of `Uint8Array`, since it does not properly inherit from a `TypedArrayPrototype`:
[code]

The `ArrayBuffer` polyfill provided by `polyfill-library` does no

[2022-05-19 08:17] JakeChampion commented on #1132
Thank you for looking into this, yes I agree that's what we should do 👍

[2022-05-20 07:49] adamchainz opened #1189 "Broken source links on site"
type: bug report

1. Go to https://polyfill.io/v3/url-builder/
2. Click "..." on `~html-elements` (near bottom)
3. Click "Polyfill source"
4. Link opens https://github.com/Financial-Times/polyfill-library/tree/main/polyfills/~viewport , which is 404 , because  the `main` branch doesn't exist. The real link is https://github.com/Financial-Times/polyfill-library/tree/master/polyfills/%7Ehtml5-elemen

[2022-05-25 19:44] param-kothari opened #1191 "Unhandled Rejection (TypeError): fs$readdir is not a function"
This is a bug report, or rather, we needed some help to resolve this issue regarding the usage of polyfill-library.

## What

We faced an issue while installing and using the polyfill library. Upon installing, we tried to use the library with the following code, taking inspiration from this comment -> [Link](https://github.com/Financial-Times/polyfill-library/issues/479#issuecomment-590315068)

[c

[2022-05-25 20:19] JakeChampion commented on #1191
Polyfill-library does not work in a browser context which is why this issues happens

[2022-05-26 14:16] mq2thez opened #1192 "[Feature Request] Serve IntersectionObserver to all Desktop Safari versions"
Hey folks!

As part of [this issue](https://github.com/Financial-Times/polyfill-library/issues/1082), IntersectionObserver is (happily) served to all mobile safari users.

However, we've noticed that a large number of desktop Safari users are also seeing the issue.

To give a sense of numbers:
- we've been averaging ~2.3k events per day of `Can't find variable: IntersectionObserver` per day coming

[2022-05-26 14:22] JakeChampion commented on #1192
Do you know what is causing those user agents to jot have Intersection Observer?

[2022-05-26 14:31] mq2thez commented on #1192
I've no idea -- I assume it's a similar mechanism to what's causing problems for mobile safari, something at the OS or browser level.

[2022-05-26 14:37] romainmenke commented on #1192
At least according to [this tweet](https://twitter.com/smfr/status/1456298972985708545?s=20&t=qQgFYPupuT4iIAgStBK4Hg) this is not something that is done on purpose and is possibly a bug.

Would be unfortunate if we need to keep shipping the polyfill indefinitely.

[2022-05-26 18:15] romainmenke commented on #1192
- Can you share anything about the percentage of iOS users that are affected?
- Which user agents are affected?
- Is there an existing safari/webkit bug report?

[2022-05-28 07:43] romainmenke commented on #1192
@mq2thez Are there any events from Safari 12 or 13?
Seems very specific that this is not affecting every Safari version (after support landed)

[2022-05-31 09:36] mq2thez commented on #1192
@romainmenke As I mentioned above, iPad OS sends MacOS useragent strings now, so since iPadOS (iOS 13) was released, there's no way to detect iPad vs Mac via user agent string.

Via Sentry, here is a breakdown of the number of "events" seen by browser on one of the groupings of issues we're seeing in the last 14 days. We only serve Sentry's SDK to 20% of users, so it's not unreasonable to guess th

[2022-05-31 10:04] romainmenke commented on #1192
So basically **a lot of events** from all versions ever since it should have been supported natively.

Do you know if there was ever a bug report filed with webkit/safari?
Anything we can use to track a fix there?

My main concern is that we might never be able to remove this hack because we have no way to test that it is broken or fixed from our perspective.

[2022-05-31 11:35] mq2thez commented on #1192
I do not know, unfortunately.

[2022-05-31 12:23] romainmenke commented on #1192
Reported via feedback assistant : https://feedbackassistant.apple.com/feedback/10032713
This link won't work for anyone else but then I won't lose track of it.

------------

@jensimmons This is a tricky one but maybe you can ping the right people from the Safari/Webkit team to get the ball rolling?

_recap :_

As far as we know some users of Safari have a version with `IntersectionObserver` shoul

[2022-06-04 21:28] param-kothari commented on #1191
Thanks, got the issue

[2022-06-04 21:28] #1191 closed

[2022-06-15 06:18] romainmenke commented on #1192
https://twitter.com/gsnedders/status/1536854518696132609

@gsnedders said :

@mq2thez can you confirm that this is still an issue on Safari 15.4 and 15.5 at this time?
_sorting the table might make it more clear?_

[2022-06-15 06:31] mq2thez commented on #1192
@romainmenke I also responded to the tweet, but: according to that table, 5107 hits (in 25% of users, so closer to 24k hits in 14 days at 100% traffic) to 15.4.0/15.4.1 in 14 days for (what we assume are) iPad users makes me think this still a significant issue.

[2022-06-15 21:45] Ahmad-S792 commented on #1192
Could it be one of the following issue?

Webkit Bug - https://bugs.webkit.org/show_bug.cgi?id=196729 ; https://bugs.webkit.org/show_bug.cgi?id=241493

[2022-06-17 10:51] mq2thez commented on #1192
Hey @Ahmad-S792, since the bug is that IntersectionObserver is undefined, I do not think that either of those applies.

[2022-06-17 11:01] mq2thez commented on #1192
@romainmenke We're still seeing thousands of errors per day related to this -- would it be possible to get the fix merged and revisit when it should _stop_ being served once you get a response from the Webkit team?

[2022-06-17 11:02] romainmenke commented on #1192
Would love to, but I am just a serial contributor, don't have write access :/

[2022-06-17 11:03] mq2thez commented on #1192
Ah bummer -- @JakeChampion, any chance we could get this merged in?

[2022-06-17 11:05] JakeChampion commented on #1192
I don't have permissions on the repository anymore as I no longer work at the Financial Times.

[2022-06-17 11:07] mq2thez commented on #1192
Ah, double bummer. Do you know who we could ping for getting it merged? What's the current maintenance status of the project?

[2022-06-20 09:56] mq2thez commented on #1192
It appears that @chee was able to merge/release things back in May -- perhaps they can help here?

[2022-06-20 16:23] gsnedders commented on #1192
So, I've had it pointed out to me that it's disabled in WebKit1 (WebKitLegacy, WebView, UIWebView, etc.), and a variety of in-app-browsers still use UIWebView despite it being long-deprecated. The UA strings might give away whether they're IABs?

https://bugs.webkit.org/show_bug.cgi?id=231767 exists for enabling it on WebKit1.

[2022-06-20 17:39] romainmenke commented on #1192
@gsnedders Thank you for this!

----------

_I don't have a recent iPad so I can't install and run a test iOS app on a real device._

UA string for a UIWebView on a Simulated iPad device.

[code]

This would receive the polyfill.

-------

UA string for Safari on a Simulated iPad device.

[code]

This would **not** receive the polyfill.

-------

UI string for Safari on a Simulated iPhone device.

[2022-06-20 23:56] gsnedders commented on #1192
(They're all the same thing, just exposed via different API names in different places/platforms.)

But no, WebKitLegacy and WebKit both have the same UA string, _unless_ the application embedding it adds a suffix which makes it more unique. And many applications (especially in-app-browsers!) add _a lot_ to that suffix.

(This is https://github.com/WebKit/WebKit/blob/97d96daa046c3ad2de4cf310fa1333e

[2022-06-21 06:39] romainmenke commented on #1192
@mq2thez Can you share some of the exact UA strings that have the error?
Then I can check how these are handled by the UA parser in use here.

[2022-06-21 12:01] carles-thn opened #1194 "[Object.defineProperty] possible to contribute a fix on 3.x series?"
## What
The `Object.defineProperty` polyfill correctly makes use of the native version when exists, but only on very specific objects. Thus, for random general usage the polyfill blatantly ignores the native `Object.defineProperty`. I can't seem to find a reason to not use the native version always if exists (why limit it to `window`, `document`, or `Element` ?).

We find this problem when trying

[2022-06-21 13:01] carles-thn commented on #1194
We are not using it based on the user-agent (hence the `always` argument), but based on stumbling upon faulty/incomplete `bind` implementations. That is the case of websites that use PrototypeJS and MooTools, which unfortunately are still included on actual websites (and worse, used by thirdparty libraries like [jotforms](https://www.jotform.com)).

I must clarify that we self-host an instance of

[2022-06-21 13:42] romainmenke commented on #1194
I wonder if this would be resolved with the `gated` flag?

https://polyfill.io/v3/polyfill.js?features=Function.prototype.bind|always&flags=gated

This adds feature detection around the polyfill.
The line you referred to isn't intended as feature detection as far as I can tell.

[2022-06-21 14:17] carles-thn commented on #1194
Good thought. Unfortunately that also gates `bind`, which makes my intention to redefined `Function.prototype.bind` with `always` futile.

Based on your proposal, I thought this could work:
https://polyfill.io/v3/polyfill.js?features=Object.defineProperty|always|gated,Function.prototype.bind|always

But seems like `Object.defineProperty` gets pulled in as a dep of `bind` and loses the original `ga

[2022-06-21 14:26] JakeChampion commented on #1194
The issue with the native Object.defineProperty is in Internet explorer 8, Object.defineProperty could only work on DOM elements, and not on any type of object

[2022-06-21 14:52] carles-thn commented on #1194
Ouuuuch. Good insight! All finally makes sense, and nothing should be changed on `3.x` then....
I definetily need to push the `bind` polyfill free of the `Object.defineProperty` dep, but It can't be done with the current polyfill-service. And shouldn't, since that is a too specific use case. I will have to solve the situation by other means.

Thanks a lot for your help @JakeChampion @romainmenke :

[2022-06-21 17:12] carles-thn commented on #1194
For future reference, there is a parameter `excludes` (not officially declared in the API docs) where a list of features can be passed to be excluded by force. So, finally, forcing a given polyfill (`bind`) and avoiding a certain dependency (`Object.createProperty`) can be achieved with:
https://polyfill.io/v3/polyfill.js?features=Function.prototype.bind|always&excludes=Object.defineProperty

[2022-06-21 18:16] Morozzzko opened #1252 "Safari 11.1 shouldn't polyfill `fetch`"

[2022-06-22 07:32] panxiaomeng opened #1195 "can't install polyfill-library successfully"
hi, it is support request
I run these commands in the server, I can't see these issues, but I can see some errors in the container,
npm install
npm install run-s -D
npm run build

when I run npm isntall in the container, it prints below error firstly

_npm WARN tarball tarball data for polyfill-library@3.104.0 (sha512-sYbO07WkGKSub4HxUKK/8eYSxV/HS4xOUcexmV/zBl6Ma2JJypKWk1xgbcZi2Gs4CmPrZIpfGhdPK1aF

[2022-06-23 20:12] Ahmad-S792 commented on #1192
IntersectionObserver to be enabled on Webkit1 just got committed:

https://github.com/WebKit/WebKit/commit/ea72d728429e3a0b627083a0f5b2a83967c4f111

It might resolved this in future versions.

[2022-06-23 20:17] romainmenke commented on #1192
Thank you @Ahmad-S792 for letting us know 🎉

[2022-06-27 11:39] romainmenke commented on #1192
@mq2thez Thank you for this!

That indeed seems to indicate that the requests are made from Safari and not a webview.
(if I am interpreting all the UA strings correctly)

@gsnedders Is there anything you can think of that we can do to confirm this?

Maybe something is really bugging out with the feature flags after all 🤷

[2022-06-27 16:02] #258 closed

[2022-07-08 09:31] #1132 closed

[2022-07-11 08:49] mq2thez commented on #1192
Hey folks, just checking back again! @chee, do you have any idea when we might be able to see the PR merged? I hate to keep bugging people, but I'm not sure what other options we have here.

[2022-07-11 09:41] romainmenke commented on #1192
@mq2thez Was thinking about this more and does it sound ok to you to serve IntersectionObserver to `Safari <16` ?

That way we might need to bump this later but we still have no way at all to confirm the problem or a fix later on.

If new error reports surface for Safari 16 we will know it isn't fixed yet.

[2022-07-12 11:18] romainmenke commented on #1192
@mq2thez [v4.1.1](https://github.com/Financial-Times/polyfill-library/releases/tag/v4.1.1) was just released.

[2022-07-12 14:28] romainmenke commented on #1195
@panxiaomeng Can you describe at a higher level what you are aiming to do?

From your bug report it seems as if you are trying to build the `polyfill-library` but also run your own version of `polyfill-service`.

Can you share the `Dockerimage` you are using?

[2022-07-12 15:17] romainmenke commented on #1115
@cdaringe _going over a few older issues_

Is this still an open issue on your end?

Given the limited bandwidth we currently have for `polyfill-library` a feature like this might be easier to realise as a separate package.

[2022-07-12 15:26] #1100 closed

[2022-07-12 20:17] cdaringe commented on #1115
I’ll reopen if I find compelling new ideas :)

[2022-07-12 20:17] #1115 closed

[2022-07-14 09:11] mq2thez commented on #1192
@romainmenke @JakeChampion @chee @gsnedders  We've gone from about 2k events per day down to about 45 events in the last 12h, so I think it's safe to say that this has definitely resolved our issues. Thank you so much!

Of the remaining events we're seeing, they are all coming from a mix of Chrome v51, Firefox 56, and... Mobile Safari 16.0. I'm not sure whether the iOS 16 ones are a problem, but I

[2022-07-23 17:41] romainmenke opened #1202 "ios_chr data seems wrong"
When searching in configs for `ios_chr` I noticed that these reference both Safari and Chrome versions. This can't be both.

Todo :

- check how these are normalised in the service
- make sure these are consistent and correct

[2022-07-24 15:18] romainmenke commented on #1202
[code]

[code]

vs.

[code]

[code]

see : https://github.com/Financial-Times/polyfill-useragent-normaliser/blob/2656bd1731ce9c4d5cecba1a5304de0635df4e60/lib/normalise-user-agent.vcl#L644

------

This seems to be a fallback or legacy but I can't find any examples or tests that results in `ios_chr` without manually tampering with a user agent string.

`ios_chr` with `version: 103` does not match c

[2022-07-24 16:30] romainmenke opened #1203 "ArrayBuffer.isView Edge data"
https://github.com/Financial-Times/polyfill-library/blob/de90e2e0678f1daacdac4d931d1d8b5501353901/polyfills/ArrayBuffer/isView/config.toml#L13

@mhassan1 Do you remember why this is `edge <12` ?
Edge 12 is the first edge versions so this would never match anything.

Is it a typo or was the intention to not server the polyfill to edge?

[2022-07-24 16:34] romainmenke commented on #1203
Maybe this was copied over from other configs? (which are also a bit suspect)

https://github.com/Financial-Times/polyfill-library/commit/9b345f4b9d0f223f003ae0f6d936a2eabcc7a314

[2022-07-24 22:08] JakeChampion commented on #1202
It is now legacy and should be removed as we do indeed strip the token from the UA string prior to converting it to a browser+version combination -- https://github.com/Financial-Times/polyfill-useragent-normaliser/blob/2656bd1731ce9c4d5cecba1a5304de0635df4e60/data.json#L59

(It was actually a legacy target back in 2015 but we forgot to tidy up the polyfill configs -- https://github.com/Financial-T

[2022-07-25 09:34] romainmenke commented on #1202
Thank you @JakeChampion!
I will do this cleanup in https://github.com/Financial-Times/polyfill-library/pull/1204

[2022-07-25 09:34] #1202 closed

[2022-07-25 15:22] mhassan1 commented on #1203
In this case, I believe I just took what was on [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer/isView#browser_compatibility), without realizing that 12 was the first version.

[2022-07-25 15:25] romainmenke commented on #1203
Ah yes! makes sense :)
Thank you

[2022-07-25 15:25] #1203 closed

[2022-07-27 10:07] #1195 closed

[2022-07-27 16:27] romainmenke opened #1205 "Use the baseline versions from the UA normaliser in config linting"
baseline : https://github.com/Financial-Times/polyfill-useragent-normaliser/blob/master/data.json#L7-L22

see : https://github.com/Financial-Times/polyfill-library/pull/1204

Some version ranges have a lower bound that is less than the baseline. `2 - 50`
We can simplify these to `<51` as that is how they already function today.

The config linter should be updated to suggest the needed edits

[2022-07-27 21:03] romainmenke commented on #1118
_problem confirmed_

At the root this is the same issue as we've seen with Safari since after v11.
The information in the user agent string was reduced with parts of it being frozen.

Updating it for Safari itself was (relatively) easy as Safari does still send the relevant information :

For Chrome on iOS the useful information is missing.

To fixed this we need :
- a mapping between `CriOS/x.y.z

[2022-07-27 21:05] romainmenke commented on #1160
@jdeniau I've added a new command `npm run lint-config` which is able to give feedback on configs with missing browsers like Opera.

I hope that this will make it easier to manually update configs when needed.

[2022-07-27 21:05] #1160 closed

[2022-07-28 06:41] romainmenke opened #1206 "Cleanup we should do on the next major release"

[2022-07-29 09:39] romainmenke commented on #1118
After more thought I am unsure if we can fix this at all.
Even if we add a mapping for Chrome on iOS we would still have the same issue for every other browser and webview on iOS.

It think it's worth checking `CH-UA` for this issues and have asked for some clarification on part of that specification : https://github.com/WICG/client-hints-infrastructure/issues/124

[2022-07-31 10:14] romainmenke commented on #1118
Filed bugs with firefox and chromium to see what the response will be :

chromium bug : https://bugs.chromium.org/p/chromium/issues/detail?id=1348792
firefox bug : https://github.com/mozilla-mobile/firefox-ios/issues/11464

[2022-07-31 10:33] zloirock commented on #1118
@romainmenke it could be interesting for you https://github.com/WICG/ua-client-hints/issues/229

[2022-07-31 11:03] romainmenke commented on #1118
@zloirock thank you :)

I really don't understand how/why it is so hard to expose reliable and and precise engine information.

[2022-08-03 12:28] romainmenke commented on #1205
The baseline is fairly high for some browsers like Safari :
- Safari 9 was only released in 2016 (6 years ago).
- IE 9 was released in 2011 (11 years ago).

Removing support stats based on the UA normaliser baseline will affect packages like core-web that bring their own logic.

@JakeChampion Is there a downside to keeping support stats for older browsers that do not meet the baseline? Something t

[2022-08-03 12:41] JakeChampion commented on #1205
Could you explain what you mean by this as unfortunately I don't understand 😔

[2022-08-03 12:55] romainmenke commented on #1205
https://github.com/Financial-Times/polyfill-library/blob/master/polyfills/Promise/prototype/finally/config.toml#L14-L25

`Promise.prototype.finally` is a good example.
It has a specific range that doesn't overlap with `Promise`.
This range also includes browsers that no longer meet the UA normaliser baseline.

The idea in this issue (based on the PR comment) was to transform configs in this style

[2022-08-03 14:13] JakeChampion commented on #1205
That seems like a good reason to keep them as specific as can be 👍

[2022-08-03 14:18] romainmenke commented on #1205
Cool cool :)

[2022-08-03 14:18] #1205 closed

[2022-08-04 16:34] romainmenke opened #1211 "browser compatibility data quality"
https://github.com/Financial-Times/polyfill-library/commit/c9e98b324ea805112e536ee9ceea5d72544a4640

### Browsers
- 193 missing
- 63 unknown
- 149 unbounded ('*' or '>5')

### Meta
- 29 missing docs link

### Log
- 267 warnings
- 273 info messages

[2022-08-04 16:35] romainmenke commented on #1211
https://github.com/Financial-Times/polyfill-library/commit/af107f8d6696764c3c9b4ce368c5679ff4232fd2

### Browsers
- 88 missing
- 6 unknown
- 33 unbounded ('*' or '>5')

### Meta
- 27 missing docs link

### Log
- 177 warnings
- 273 info messages

[2022-08-04 16:37] romainmenke commented on #1211
_TODO : merge and add commit link_

### Browsers
- 89 missing
- 5 unknown
- 21 unbounded ('*' or '>5')

### Meta
- 27 missing docs link

### Log
- 5 warnings
- 281 info messages

[2022-08-04 17:54] romainmenke opened #1212 "Polyfill combination issue with `TypedArray` `toLocaleString`"
see : https://github.com/Financial-Times/polyfill-library/runs/7677101952?check_suite_focus=true

[code]

[2022-08-04 18:19] mhassan1 commented on #1212
I can't replicate this error in my own BrowserStack, and I see that this test passed on the [branch](https://github.com/Financial-Times/polyfill-library/runs/7657613540?check_suite_focus=true).

@romainmenke Do you know what `Missing locale data for` means?

[2022-08-04 18:31] romainmenke commented on #1212
@mhassan1 Thank you for keeping an eye on this :)

It is indeed not obvious why this fails in that specific test run.
All tests in a regular run only include the needed polyfills for the feature being tested.

But users can include other polyfills and polyfills can break each other.
So we have a separate test run that is configured to load all the polyfills together.

This is a very slow process a

[2022-08-04 19:53] mhassan1 commented on #1212
Thanks for the explanation. Sounds good to me.

[2022-08-05 07:41] romainmenke opened #1215 "Can we automatically run the full test suite with polyfill combinations before a release?"
Perhaps we should have a full polyfill combination run happen when we make a release branch? I guess it'd require either detecting that package.json.version had changed or we would need to use a special branch name which we configured a GitHub workflow to run on

_Originally posted by @JakeChampion in https://github.com/Financial-Times/polyfill-library/pull/1213#pullrequestreview-1062639907_

[2022-08-05 07:41] #1212 closed

[2022-08-07 15:42] romainmenke commented on #1118
This is more complicated than I expected :)

The polyfill library and service uses the Safari browser version on iOS.
MDN however switched to the iOS operating system version at the request of Apple : https://github.com/mdn/browser-compat-data/issues/2006#issuecomment-457277312

So we have a mismatch between the data we copy over from MDN and how it will be used in the library and service.

Even i

[2022-08-10 00:39] mhassan1 commented on #25
It looks like BrowserStack does not have Safari 12.0 (it only has 12.1), so it would be difficult to validate the fix.

[2022-08-10 16:35] mhassan1 commented on #29
As far as I can tell, an `HTMLFormElement.prototype.reportValidity` polyfill would need to depend on `HTMLFormElement.prototype.checkValidity`, which is only available in IE10+ ([link](https://caniuse.com/mdn-api_htmlformelement_checkvalidity)) and may not be polyfillable.

Some reference implementations (both depend on `HTMLFormElement.prototype.checkValidity`):
* https://gist.github.com/nuxodin/

[2022-08-10 16:44] romainmenke commented on #25
Can we test that the patch has no adverse effect?
As far as I understand the issue and the patch this could be a low risk bug fix.

So maybe it is ok to add it even if we can not test that specific version in Browserstack?

-----

I think you can manually test in Safari 12.0 by choosing iOS and checking a few different devices. These have different iOS and different Safari versions.

I use this my

[2022-08-10 16:49] mhassan1 commented on #153
Can you provide a reproduction? I don't quite follow the use case.

[2022-08-10 16:50] mhassan1 commented on #29
Related: https://github.com/Financial-Times/polyfill-library/issues/203

[2022-08-10 16:52] romainmenke commented on #636
Fixing this issue might also unblock Intl updates : https://github.com/Financial-Times/polyfill-library/pull/1186

[2022-08-10 18:29] #116 closed

[2022-08-10 18:31] mhassan1 commented on #25
If I fire up `iPhone 8` in BrowserStack and load that URL, I see `ios_saf/12.0.0`, but if I load up the [test page](https://abelyao.github.io/others/ios12-safari-bug.html), the issue doesn't seem to replicate. I'm not sure what that means.

We don't have a polyfill for `Array.prototype.reverse`, so we would need to add one.

Also, the usage table doesn't show `Safari 12.0`: https://caniuse.com/usa

[2022-08-10 20:12] mhassan1 commented on #231
Besides `devicePixelRatio`, is there a list of the polyfills that should get an alias?

[2022-08-10 21:24] romainmenke commented on #231
The MDN list might be an ok reference?

https://developer.mozilla.org/en-US/docs/Web/API/Window#properties

Obvious bug fixes :

| feature | missing aliases |
| -- | -- |
| `setImmediate` | `window.setImmediate`, `clearImmediate`, `window.clearImmediate` |
| `matchMedia` | `window.matchMedia` |
| `requestAnimationFrame` | `window.requestAnimationFrame`, `cancelAnimationFrame`, `window. cancelAnima

[2022-08-13 07:38] #214 closed

[2022-08-13 17:11] #326 closed

[2022-08-13 17:54] romainmenke commented on #231
[code]

Alias everything that passes `'x' in Window.prototype` ?

[2022-08-19 07:29] romainmenke opened #1226 "Why would this polyfill library stops to polyfill old browsers?"
Why would this polyfill library stops to polyfill old browsers? 😂

_Originally posted by @noscripter in https://github.com/Financial-Times/polyfill-library/issues/1153#issuecomment-1220332053_

---------

Context : removing polyfills for IE8

[2022-08-19 07:36] romainmenke commented on #1226
Hi @noscripter,

Thank you for reaching out.
I've moved this to a separate issue because this is a bit clearer than a merged and closed pull request.

---------

IE8 in particular was lacking so many features that it was always very difficult to create correct polyfills for it.

Periodically removing support for the very oldest browsers "unlocks" more modern features that can be used to create pol

[2022-08-19 07:42] noscripter commented on #1226
Thanks for your explanation, that's totally understandable and reasonable.

Documentation should be upgraded accordingly so as to clarify version differences.

Greatly appreciated for your excellent work!👍

[2022-08-19 07:48] romainmenke commented on #1226
Can you link to the documentation that is outdated or unclear?
( There are a lot of moving parts here :) )

At this time only this repo has been updated but this change hasn't yet rolled out on polyfill.io.

[2022-08-19 11:18] #1226 closed

[2022-09-20 14:18] romainmenke commented on #1192
@mq2thez Has this issue come back now that Safari 16 is rolling out?

[2022-09-20 15:11] Ahmad-S792 commented on #1192
There is another issue fixed - https://github.com/WebKit/WebKit/commit/b5701774e49ff045c17f405df13ad7d6edfd1f41

Which might be in Safari 16.1 or 16.2.. So it might fix more edge cases.

[2022-09-26 09:27] mq2thez commented on #1192
@romainmenke Thanks for the ping, I had made a reminder for myself to check but hadn't gotten around to it.

Yes, this has come back. It's not quite as many as before -- maybe 1k events in the last 14 days, all registering as Mobile Safari 16. Example UA strings here:

[code]

Of note to me is the `Mobile/15E148` -- it means we're looking at UIWebView users, afaik. I think this does mean that the

[2022-10-01 13:30] romainmenke commented on #1192
You can see the software build your device is running and check for the latest update by tapping on Settings > General > Software Update.

If not, please use Feedback Assistant to let us know you are still experiencing it.

I got this reply on the bug I opened via Feedback Assistant.
I am unsure if this is about Safari 16.0 or a later version. (fixed or not fixed?)

@gsnedders Do you know if `macO

[2022-10-01 13:32] Ahmad-S792 commented on #1192
I think it might be macOS Ventura or iOS 16.1 considering the build version had 'e' in it to indicate beta build. Both of which have Safari 16.1 rather than 16.

[2022-10-01 13:35] romainmenke commented on #1192
Thank you @Ahmad-S792!

In that case we will be cautious and hopeful and update the config to `< 16.1`.

[2022-10-03 08:20] mq2thez commented on #1192
Yeah, unfortunately, we can't even really know until 16.1 is released.

[2022-10-03 14:57] romainmenke commented on #1192
This has been released in `v4.5.0`.
I will leave this ticket open to revisit this when `16.1` drops.

[2022-10-04 06:27] Ahmad-S792 commented on #1192
Might not be fix for this issue but fixing ordering of IntersectionObserver: https://github.com/WebKit/WebKit/pull/4967

[2022-10-04 08:58] gsnedders commented on #1192
Nah, the default WebKit UA string on mobile contains that—it doesn't imply anything about UIWebView or WKWebView.

What's the FB reference?

I'm not on my work computer right now so I can't tell you exactly what it is, but that's some macOS Ventura beta, so Safari 16.1 on macOS Ventura should have it fixed, at least. \[Edit]: [Wikipedia claims](https://en.wikipedia.org/wiki/MacOS_Ventura#History)

[2022-10-04 09:03] romainmenke commented on #1192
https://feedbackassistant.apple.com/feedback/10032713

[2022-10-04 09:04] gsnedders commented on #1192
Oh, is this FB10032713? That was just resolved via https://bugs.webkit.org/show_bug.cgi?id=231767 and that shipped in Safari 16.0.

[2022-10-04 09:17] romainmenke commented on #1192
I really wish we could have some relative/weighted numbers for the occurrences :)

This might be less because Safari `16.0` adoption is still low or it is fixed and the remainder might be bots acting like Safari `16.0`.

For now I am going to assume that this is fixed with https://bugs.webkit.org/show_bug.cgi?id=231767 as stated by @gsnedders.
Even if there are still instances were a users doesn't

[2022-10-04 09:19] romainmenke commented on #1192
@mq2thez Going to close this for now, but please let us know if this comes back in the future.

[2022-10-04 09:19] #1192 closed

[2022-10-04 09:40] gsnedders commented on #1192
FWIW, I actually just moved FB10032713 _away_ from verify due to @mq2thez's reports of this still happening. Might not have any further guesses as to cause at this point, but… it would be good to keep track of it.

[2022-10-11 19:37] alexgagnon opened #1251 "Add ElementInternals polyfill"
Feature

## What

I'd like to request the ElementInternals polyfill (https://www.npmjs.com/package/element-internals-polyfill) be added to polyfill.io

## Details

ElementInternals allows for attaching inputs in the shadow DOM to forms. Currently all browsers except for Safari support it: https://caniuse.com/?search=elementinternals

[2022-10-18 01:27] wesgro opened #1239 "ResizeObserver polyfill does not work when used from this library"
## What

ResizeObserver is `undefined` when the RO polyfill script is used.

repro: https://codesandbox.io/s/polyfill-io-resizeobserver-failing-to-install-t3pwln?file=/src/polyfill.js

## Details
Required setup:
* Use Safari (or any browser that doesn't have Resize Observer)
* Go to Safari devtools and disable Resize Observer
** Develop > Experimental Features > Uncheck Resize Observer
* go to htt

[2022-10-18 06:09] romainmenke commented on #1239
Hi @wesgro,

I am unsure what the issue is and I can not run your reproduction because the code sandbox doesn't work in older browsers without `ResizeObserver` support.

I if check with a minimal repro in an older browser everything seems to work.

[code]

In Chrome 62: `f ResizeObserver () { [polyfill code] }`
In Safari 12: `function ResizeObserver () { [polyfill code] }`

------------

** Develo

[2022-10-18 16:47] wesgro commented on #1239
Apologies, this appears to be something with how we bundle the polyfills that breaks the UMD in this case. Will investigate locally.

[2022-10-18 17:15] romainmenke commented on #1239
That is fine!
If it keeps giving you trouble, please let us know.

[2022-10-18 17:39] wesgro commented on #1239
It does seem to be consistently breaking whenever it gets bundled by webpack. I may open a PR to adjust how it acquires a references to the `ResizeObserver` polyfill (using `exports` instead of hoping `ResizeObserver` is now on the global scope)

[2022-10-18 17:55] wesgro commented on #1239
Currently the only way I have to repro is using a modern version of Safari and turning off ResizeObserver in its experimental feature settings.

But if you follow along you'll see the same error here:
* Use Safari 16
* disable Resize Observer  (`Develop > Experimental Features > Uncheck Resize Observer`)
* go to https://codesandbox.io/s/stupefied-rubin-11y4j9?file=/src/polyfill.js
* See `Reference

[2022-10-19 11:54] romainmenke commented on #1239
I am afraid this might be a parcel issue.
They mangle the polyfill quite badly.

One of the things they seem to do is try to encapsulate it as a module and try to prevent it having global effects. This is exactly the opposite of what you want, the polyfill should be global.

I also tried this with webpack and that bundles just fine.

I have an idea for something that might help :

[code]

But this

[2022-10-19 12:00] romainmenke commented on #1239
@devongovett I think you can ignore this, found a way to make it work without any changes.

----------

@wesgro what I did :

- use latest parcel (not v1)
- use `<script src="polyfill.js"></script>`

Do not use `<script type="module" src="polyfill.js"></script>`
After that the polyfill just works.

[2022-10-19 16:12] wesgro commented on #1239
Unfortunately I don't think this a parcel only problem. I have another test case using create react app (which afaik uses webpack 5): https://github.com/wesgro/resize-observer-failing-in-cra

Using the same Safari setup you'll see that `ReferenceError: Can't find variable: ResizeObserver` error appearing again.

The fix propsed in https://github.com/Financial-Times/polyfill-library/issues/1239#iss

[2022-10-19 17:43] romainmenke commented on #1239
I agree :)

I firstly wanted to check if this was an absolute problem (polyfill is always broken when bundled). But it seems that it sometimes works and sometimes doesn't.

I might be mistaken about this but afaik the output of this library is intended to be used as-is. Whether it works or not when bundled is unknown because we don't test for that.
We only test that the direct output works as inte

[2022-11-02 16:22] andrew-pyle opened #1240 "Add HTMLFormElement.requestSubmit Polyfill"

[2022-11-02 17:58] JakeChampion commented on #1240
Howdy, I've not looked at the polyfill myself but thought I'd mention we have contribution guides for adding a new polyfill if you wanted to give it a go 🤞 https://github.com/Financial-Times/polyfill-library/blob/master/.github/contributing.md#adding-a-new-polyfill

[2022-11-04 18:53] mhassan1 commented on #1240
@andrew-pyle I can take a stab at it, unless you wanted to.

[2022-11-04 18:54] andrew-pyle commented on #1240
@mhassan1 @JakeChampion I actually started working on this about an hour ago. I think I can finish it today.

[2022-11-07 15:44] CheloXL commented on #1147
@mhassan1 I have a pull request ready, but I can't run the tests. I'm on windows. Running the tests (after a successfully build) gives me the following output:
[code]
command line: `npm run test-polyfills -- --features=structuredClone --browsers=FirefoxHeadless --singleRun=true`

What it's strange is that it doesn't matter which feature I request for test, I always get 0 tests completed.

Any insi

[2022-11-07 15:50] mhassan1 commented on #1147
Hm, I have never run tests that way. I usually run `npm run watch` and then load something like `http://localhost:9876/test?includePolyfills=yes&always=yes&feature=structuredClone` in different browsers. Maybe @JakeChampion or @romainmenke would be more helpful.

[2022-11-07 15:52] romainmenke commented on #1147
Yes, same :)
I think I initially created `npm run watch` because I didn't fully understood `npm run test-polyfills` but also didn't want to break/change it.

[2022-11-07 18:30] CheloXL commented on #1147
Excellent, thank you both. That works.